/.metadata/
__pycache__/
*.pyc
settings.py
error.txt
EmailFetcher/utilities/attachments_dir/
venv
*.bash
env
*.csv
*.xlsx
*.ipynb
*.pem
/My_Token.txt
travelagency_env
*.json
node_modules
cypress
cypress.config.js
yarn.lock
/temp_requirements.txt
/runserver.bat
/env
db_flight_issoufali01122023.sql
