{% extends "layout.html" %}
{% block content %}
<div class="content-wrapper">
    <section class="content-header py-0 pb-2">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <h1 class="text-primary">Ajouter un nouvel utilisateur</h1>
            </div>
          </div>
        </div>
      </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-12">
                    <div class="card card-primary card-outline p-4">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="mb-2">
                            <label class="form-label">Nom:</label>
                            {{ form.name }}
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Prénom(s):</label>
                            {{ form.first_name }}
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Nom d'utilisateur:</label>
                            {{ form.username }}
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Email:</label>
                            {{ form.email }}
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Identifiant GDS:</label>
                            {{ form.gds_id }}
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Mot de passe:</label>
                            {{ form.password1 }}
                        </div>
                        <div class="alert alert-info" role="alert">
                            Le mot de passe doit contenir plus de 8 caractères, au moins un caractère spécial et au moins un chiffre
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Confirmation mot de passe:</label>
                            {{ form.password2 }}
                        </div>
                        <div class="mb-2">
                            <div class="form-group">
                                <label>Type:</label>
                                {{ form.role }}
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="form-group">
                                <label>Office:</label>
                                {{ form.office }}
                            </div>
                        </div>
                        <div class="row mb-2 text-end">
                            <div class="col-12">
                                <button type="submit" class="btn btn-outline-success"><i class="fas fa-save"></i>
                                    Créer</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}