<div class="modal fade" id="modalListeCommandes" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalListeCommandesTitle">
					Liste des Commandes Amadeus
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="max-height: 400px;overflow-y: auto;">
				
				<div>
					<h6 class="text-info c-pnr ml-4 mb-0">
						<u style="font-size:12px;">PNR :</u> <span id="pnr">WM/FWD/EML ISSOUFALI.PNR@GMAIL.COM/RT</span>
						<input type="text" id="np" title="Numéro PNR" maxlength="6" placeholder="N° PNR" style="width:70px; padding: 0;"/>
						<a id="button-np" class="btn btn-primary py-0 float-right"  onclick="copypnr()">
							<i class="fa fa-copy"
								style="font-size:12px; cursor: pointer; margin-right:5px;"
							></i>Copier</a>

					</h6> 
					<hr>
				</div>
				<div>
					<h6 class="text-info c-pnr ml-4 mb-0">
						<u style="font-size:12px;">PNR archivé :</u> 
						<span id="pnrArchived">WM/FWD/EML ISSOUFALI.PNR@GMAIL.COM/RPP/RLC-</span>
						<input type="text" id="npArchived" title="Numéro PNR" maxlength="6" placeholder="N° PNR" style="width:70px; padding: 0;"/>
						
						<a id="button-np-archived" class="btn btn-primary py-0 float-right"  onclick="copyarchivedpnr()">
							<i class="fa fa-copy "  style="font-size:12px; cursor: pointer;margin-right:5px;"></i>Copier
						</a>
					</h6><hr> 
				</div>
				<div>
					<h6 class="text-info c-pnr ml-4 mb-0">
						<u style="font-size:12px; margin-bottom:1px">Billets non émis :</u> <span id="bne">WM/FWD/EML ISSOUFALI.PNR@GMAIL.COM/TQT/T</span><span>[Numéro de la tarification]</span>
						{% comment %} <input type="text" id="nt" title="Numéro de la tarification" maxlength="6" placeholder="N° Tarif." style="width:70px; margin-bottom:1px"/> {% endcomment %}
						<a id="button-nt" class="btn btn-primary py-0 float-right"  onclick="copybne()">
							<i class="fa fa-copy" style="font-size:12px; cursor: pointer;margin-right:5px;"></i>
						Copier</a>
					</h6><hr>
				</div>
				<div>
					<h6 class="text-info c-pnr ml-4 mb-0">
						<u style="font-size:12px; margin-bottom:1px">Billets émis :</u> <span id="be">WM/FWD/EML ISSOUFALI.PNR@GMAIL.COM/TWD/L</span><span>[Numéro de la ligne du billet dans le PNR]</span>
						{% comment %} <input type="text" id="nlbe" title="Numéro de la ligne du billet dans le PNR" maxlength="6" placeholder="N° Bill." style="width:70px; margin-bottom:1px"/> {% endcomment %}
						<a id="button-nlbe" class="btn btn-primary py-0 float-right"  onclick="copybe()">
							<i class="fa fa-copy" style="font-size:12px; cursor: pointer;margin-right:5px;"></i>
						Copier</a>
					</h6><hr>
				</div>
				<div>
					<h6 class="text-info c-pnr ml-4 mb-0">
						<u style="font-size:12px; margin-bottom:1px">Services émis :</u> <span id="se">WM/FWD/EML ISSOUFALI.PNR@GMAIL.COM/EWD/L</span><span>[Numéro de la ligne du billet dans le PNR]</span>
						{% comment %} <input type="text" id="nlse" title="Numéro de la ligne du billet dans le PNR" maxlength="6" placeholder="N° Bill." style="width:70px; margin-bottom:1px"/> {% endcomment %}
						<a id="button-nlse" class="btn btn-primary py-0 float-right"  onclick="copyse()">
							<i class="fa fa-copy" style="font-size:12px; cursor: pointer;margin-right:5px;" ></i>
						Copier</a>
					</h6><hr>
				</div>

					
			</div>
		</div>
	</div>
</div>

