{% extends "layout-all-pnr.html" %}
{% block content %}
{% load pnr_comments %}
<div class="content-wrapper">
    <section class="content" style="margin-top: 8rem">
      <div class="container-fluid">
        <div class="row ">
          <div class="col-12">
            <div class="card card-primary card-outline ">
              <div class="card-header justify-content-between py-0">
                <div class="row">
                  <div class="col-md-6 float-left">
                  <h4 class="text-primary title-all-pnr mt-1 mb-0">Gestion Anomalies</h4>
                  </div>
                  <div class="col-md-6 float-right">
                  <div class="input-group input-group float-sm-right mt-1 mb-1" style="width: 150px;">
                    <input type="text" name="table_search" id="input-constat" class="form-control form-control-sm"
                      placeholder="Recherche">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default py-0">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
                </div>
              </div>

              <div class="d-flex justify-content-end mt-4" style="gap: 2rem; margin-right: 4rem !important">
                {% with 1|comment_state as comment_state %}
                  <span class="px-2 py-1 bg-green">Traitée : {{ comment_state.true }} </span>
                  <span class="px-2 py-1 bg-red">Non traitée : {{ comment_state.false }} </span>
                {% endwith %}
              </div>

              <div class="card-body">
                <form method='POST' action=''>
                  {% csrf_token %}
                      <div class="table-adapted-to-screen-height card-body table-responsive p-0">
                        <table class="table table-bordered table-head-fixed text-nowrap all-comment" id="tableAnomaly">
                          <thead class="bg-info">
                            <tr>
                              <th width="5%" class="text-white">PNR</th>
                              <th width="20%" class="text-white">Anomalie</th>
                              <th width="20%" class="text-white">Reponse</th>
                              <th width="5%" class="text-white">Date d'anomalie</th>
                              <th width="8%" class="text-white">Signalée par</th>
                              <th width="5%" class="text-white">Statut</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for comment in page_obj %}
                              {% if request.user.role_id == 1 %}
                              <tr class="constat-class"
                              onclick="location.href='{% url 'comment-detail' comment.id %}'" style="cursor: pointer;"
                              data-status="{{ comment.state }}"
                              >
                                <td>{{ comment.pnr_id.number }}</td>
                                <td id="comment"  data-maxlength="50"><span>{{ comment.comment }}</span></td>
                                <td id="response"  data-maxlength="50"><span>{{ comment.pnr_id.id|response }}</span></td>
                                <td>{{ comment.creation_date|add_hours_plus_three|date:"d/m/y H:i" }}</td>
                                <td>{{ comment.user_id.username }}</td>
                                {% if comment.state == False  %}
                                <td><button class="btn btn-danger py-0" name="comment_state" id="comment-state" onclick="event.stopPropagation(); event.preventDefault(); updateState(event, {{comment.id}});" >Non traitée</button></td>
                                {% else %}
                                <td><button class="btn btn-success py-0" name="comment_state" id="comment-state" onclick="event.stopPropagation(); event.preventDefault(); updateState(event, {{comment.id}});">Traitée</button></td>
                                {% endif %}
                              </tr>
                              {% else %}
                              <tr class="constat-class"
                              data-status="{{ comment.state }}"
                              >
                                <td>{{ comment.pnr_id.number }}</td>
                                <td id="comment"  data-maxlength="50"><span>{{ comment.comment }}</span></td>
                                <td id="response"  data-maxlength="50"><span>{{ comment.pnr_id.id|response }}</span></td>
                                <td>{{ comment.creation_date|add_hours_plus_three|date:"d/m/y H:i" }}</td>
                                <td>{{ comment.user_id.username }}</td>
                                {% if comment.state == False  %}
                                <td><button class="btn btn-danger py-0" name="comment_state" id="comment-state" disabled >Non traitée</button></td>
                                {% else %}
                                <td><button class="btn btn-success py-0" name="comment_state" id="comment-state" disabled >Traitée</button></td>
                                {% endif %}
                              </tr>
                              {% endif %}
                            
                            {% endfor %}
    
                          </tbody>
                        </table>
                      </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>
{% endblock content %}