{% extends "layout/layout.html" %}
{% block content %}
<div class="content-wrapper">
  <section class="content-header p-0">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="text-primary">Tableau de bord</h1>
        </div>
        <!--div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Retour</li>
          </ol>
        </div-->
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-success shadow-lg">
                <div class="inner">
                  <h4>{{pnr_0}}</h4>

                  <h2>PNR facturés</h2>
                </div>
                <div class="icon">
                  <i class="fa fa-dollar-sign"></i>
                </div>
                <a href="#" class="small-box-footer">Voir <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-primary shadow-lg">
                <div class="inner">
                  <h4>{{pnr_emis}}</h4>

                  <h2>PNR émis</h2>
                </div>
                <div class="icon">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </div>
                <a href="#" class="small-box-footer">Voir <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-danger shadow-lg">
                <div class="inner">
                  <h4>{{pnr_Non_émis}}</h4>

                  <h2>PNR non émis</h2>
                </div>
                <div class="icon">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                </div>
                <a href="#" class="small-box-footer">Voir <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-info shadow-lg">
                <div class="inner">
                  <h4>{{pnr_2}}</h4>

                  <h2>PNR manquants</h2>
                </div>
                <div class="icon">
                  <i class="fa fa-question-circle" aria-hidden="true"></i>

                </div>
                <a href="#" class="small-box-footer">Voir <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
          </div>
          <!-- /.row -->
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}