<!-- templates/header.html -->
<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>
    {% block title %}
    Gestion PNR
    {% endblock %}
  </title>
  <link rel="icon" type="image/x-icon" href="{% static 'image/app-logo.png' %}">
  {% block css %}
  <!--fontawesome-->
  <!-- <link rel="stylesheet" href="{% static 'font/css/all.min.css' %}"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- tablesort-->
  <link href="{% static 'css/theme.default.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
  <!-- admin lte -->
  <!-- <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.2.0/css/adminlte.min.css" integrity="sha512-IuO+tczf4J43RzbCMEFggCWW5JuX78IrCJRFFBoQEXNvGI6gkUw4OjuwMidiS4Lm9Q2lILzpJwZuMWuSEeT9UQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Toastr -->
  <!-- <link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css' %}"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- style -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% endblock %}
</head>

<body class="login-page" style="min-height: 464px;">
  {% block content %} {% endblock content %}
  {% block scripts %}
  <!-- jQuery -->
  <!-- <script src="{% static 'js/jquery.min.js' %}"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha512-+NqPlbbtM1QqiK8ZAo4Yrj2c4lNQoGv8P79DPtKzj++l5jnN39rHA/xsqn8zE9l0uSoxaCdrOgFs6yjyfbBxSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- <script src="{% static 'js/jquery.tablesorter.min.js' %}"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.8/js/jquery.tablesorter.min.js" integrity="sha512-44cHLzeyt/bprAM6lomE1dUjGVYuz0YKY2wDsDo6/howeSO9mEdlCBfYoJXzYZgcTazp8HzrQ+gUviJtUdedNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- <script src="{% static 'js/jquery.tablesorter.widgets.js' %}"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.8/js/jquery.tablesorter.widgets.js" integrity="sha512-4dARBo8Z+SdA1/fbOiG8itStXxE32hCFgGnywMXxqM5DKC28XrTGOlvGWdqMdavGr19LHp1gAC/fr9xtLI0jTg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Bootstrap 4 -->
  <!-- <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.bundle.min.js" integrity="sha512-mULnawDVcCnsk9a4aG1QLZZ6rcce/jSzEGqUkeOLy0b6q0+T6syHrxlsAGH7ZVoqC93Pd0lBqd6WguPWih7VHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- AdminLTE App -->
  <!-- <script src="{% static 'js/adminlte.min.js' %}"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.2.0/js/adminlte.min.js" integrity="sha512-KBeR1NhClUySj9xBB0+KRqYLPkM6VvXiiWaSz/8LCQNdRpUm38SWUrj0ccNDNSkwCD9qPA4KobLliG26yPppJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="{% static 'js/main.js' %}"></script>
  <!-- Toastr -->
  <!-- <script src="{% static 'plugins/toastr/toastr.min.js' %}"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% if messages %}
  {% for message in messages %}
      {% if message.tags == 'success'%}
          <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
      {% elif message.tags == 'info' %}
          <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
      {% elif message.tags == 'warning' %}
          <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
      {% elif message.tags == 'error' %}
          <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
      {% endif %}
  {% endfor %}
{% endif %}
  {% endblock scripts %}
</body>

</html>
