<!-- templates/header.html -->
<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load pnr_details %}
{% load pnr_comments %}

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, maximum-scale=10">
  <title>
    {% block title %}
    Gestion PNR
    {% endblock %}
  </title>
  <link rel="icon" type="image/x-icon" href="{% static 'image/app-logo.png' %}">
  <link rel="stylesheet" href="{% static 'css/receipt.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/virtual-select.min.css' %}">

  
  {% block css %}
  <style>
    .tr-danger{
      color: red !important;
    }
    .tr-danger:hover{
      color: red !important;
    }
  </style>
 <!--fontawesome-->
 <!-- <link rel="stylesheet" href="{% static 'font/css/all.min.css' %}"> -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <!-- admin lte -->
 <!-- <link rel="stylesheet" href="{% static 'css/adminlte.css' %}"> -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.2.0/css/adminlte.min.css" integrity="sha512-IuO+tczf4J43RzbCMEFggCWW5JuX78IrCJRFFBoQEXNvGI6gkUw4OjuwMidiS4Lm9Q2lILzpJwZuMWuSEeT9UQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

 <!-- Toastr -->
 <!-- <link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css' %}"> -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

 <!-- style -->
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
 <link rel="stylesheet" href="{% static 'css/select-custom.css' %}">
 <!-- tablesort-->
 <link href="{% static 'css/theme.default.css' %}" rel="stylesheet">
 <!-- <link href="{% static 'css/select2.min.css' %}" rel="stylesheet"> -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  {% endblock %}

</head>

<body class="hold-transition sidebar-mini layout-fixed layout-footer-fixed sidebar-collapse" id="pushed-content">
  {% block body %}
  <!--old>
    src="{% static 'image/logo-issoufali.png' %}"
    src="{% static 'image/profile.webp' %}"
old -->
  <div class="wrapper">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light shadow">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" id="pushed" data-widget="" href="#" role="button" style="cursor: none;">
            <!-- <i class="fas fa-bars"></i> -->
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-0 pt-0 return" href="{% url 'home' %}" role="button" title="Retour" data-toggle="modal" data-target="#alertModalMissingCustomer">
            <i class="fa-solid fa-circle-arrow-left text-primary return"></i>
          </a>
        </li>
        <li class="nav-item" style="width: 9rem">  
        <h5 class="{% if pnr.status_value == 0 %}text-success{% endif %}{% if pnr.status_value == 1 %}text-primary{% endif %} n-pnr" style="margin-top: 3px; text-align: center;"><u style="font-size:15px;">PNR n° {{ pnr }}</u></h5>
        </li>
        <li class="nav-item ml-1">
			    {% include "commandes_modal.html" %}
        </li>
        <li class="nav-item d-flex flex-column">
          <span id="mail-user" data-mail="issoufali.pnr@outlook.com;{{request.user.email}}">issoufali.pnr@outlook.com;{{request.user.email}}</span>
          <a type="button" class="btn btn-outline-primary" onclick="copymailuser()">Zenith</a> 
        </li>

        <li class="nav-item ml-1">
          <!--- Button pour afficher les autres listes de commandes -->
          <button 
            id="showOtherCommandsMenu" 
            type="button" 
            class="btn btn-outline-success"
          >
            <span>Afficher autres commandes</span>
          </button>
        </li>

        {% if request.user.role_id == 1 %}
          <li class="nav-item ml-1">
            <div id="uncommand_api">
              <button 
                type="button" 
                class="btn btn-outline-danger" 
                data-toggle="modal" 
                data-target="#modalUncommandApi" 
                title="Décommander le PNR"
                id = "uncommand_api" 
                {% if not pnr.is_invoiced %} disabled {% endif%}
              >
                <span>Décommander le PNR </span>
              </button>
            </div>
          </li>
        {% endif %}
          
        <li class="nav-item ml-1">
          <div class="input-group input-group float-sm-right mb-1">
            <input type="text" name="table_search" id="inputSearchByPnrNumber" class="form-control form-control-md"
              placeholder="Saisir N°billet ou N° PNR" maxlength="16">
            <div class="input-group-append">
              <button type="submit" id="buttonPnrSearchByPnrNumber" class="btn btn-default py-0" title="Accéder au PNR par le numéro pnr">
                <i class="fa fa-arrow-right-from-bracket"></i>
              </button>
            </div>
          </div>
        </li>
        <li class="nav-item ml-5 mt-2">
          <div>
            {% with pnr|new_anomalie as new_anomalie  %}
						{% if new_anomalie is not None %}
            <a {% if request.user.role_id == 1 %} href="{% url 'get_all_anomalies' %}" {% endif %}>
							<p class="text-success mt-1 mb-0 cde_blink">
								<i class="fa-solid fa-check-circle" aria-hidden="true"></i>
									{{new_anomalie}} Anomalie en attente
							</p>
            </a>
            {% endif %}
            {% endwith %}
          </div>
        </li>
        
      </ul> 
      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <!-- Navbar Search -->
      
        <!-- Notifications Dropdown Menu -->
        {% comment %} <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-bell"></i>
            <span class="badge badge-warning navbar-badge">15</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-header">15 Notifications</span>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-envelope mr-2"></i> 4 new messages
              <span class="float-right text-muted text-sm">3 mins</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-users mr-2"></i> 8 friend requests
              <span class="float-right text-muted text-sm">12 hours</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-file mr-2"></i> 3 new reports
              <span class="float-right text-muted text-sm">2 days</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
          </div>
        </li> {% endcomment %}

        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-user"></i> {{request.user.username}}
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <a href="{% url 'account' %}" class="dropdown-item">
               Mon compte
            </a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'logout' %}" class="dropdown-item">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
             Se déconnecter
            </a>
          </div>
        </li>
      </ul>

    </nav>
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4 shadow">
      <!-- Sidebar -->
      <div class="sidebar  mt-0">
        <div class="content-logo mt-3 pb-3 mb-3 d-flex justify-content-center">
          <div class="image">
            <img src="{% static 'image/app-logo.png' %}" class="logo">
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!--li class="nav-item">
              <a href="{% url 'dashboard' %}" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>Tableau de bord</p>
              </a>
            </li-->
            <!--menu admin role_id=1-->
            {% if request.user.role_id == 1 %} 
            <li class="nav-item">
              <a href="{% url 'home' %}" class="nav-link">
                <i class="far fa-clipboard nav-icon"></i>
                <p>Gestion PNR</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'customers' %}" class="nav-link">
                <i class="fas fa-user-tie nav-icon"></i>
                <p>Clients</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'users' %}" class="nav-link">
                <i class="fas fa-users nav-icon"></i>
                <p>Utilisateurs</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'setting' %}" class="nav-link">
                <i class="fas fa-wrench nav-icon" aria-hidden="true"></i>
                <p>Configurations</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'tools' %}" class="nav-link">
                <i class="fa fa-cog nav-icon" aria-hidden="true"></i>
                <p>Outils</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'comment-list' %}" class="nav-link">
                <i class="fas fa-exclamation nav-icon"></i>
                <p>Anomalies PNR</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'get_all_pnr_unordered' %}" class="nav-link">
                <i class="fas fa-trash-can nav-icon"></i>
                <p>PNR Décommandés</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'get_all_anomalies' %}" class="nav-link">
                <i class="fas fa-clock nav-icon"></i>
                <p>Anomalie en attente</p>
              </a>
            </li>
            {% endif %}
            <!--menu direction role_id=2-->
            {% if request.user.role_id == 2 %} 
            <li class="nav-item">
              <a href="{% url 'home' %}" class="nav-link">
                <i class="far fa-clipboard nav-icon"></i>
                <p>Gestion PNR</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'customers' %}" class="nav-link">
                <i class="fas fa-user-tie nav-icon"></i>
                <p>Clients</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'users' %}" class="nav-link">
                <i class="fas fa-users nav-icon"></i>
                <p>Utilisateurs</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'comment-list' %}" class="nav-link">
                <i class="fas fa-exclamation nav-icon"></i>
                <p>Anomalies PNR</p>
              </a>
            </li>
            {% endif %}
             <!--menu agent comptoir role_id=3-->
            {% if request.user.role_id == 3 %} 
            <li class="nav-item">
              <a href="{% url 'home' %}" class="nav-link">
                <i class="far fa-clipboard nav-icon"></i>
                <p>Gestion PNR</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'customers' %}" class="nav-link">
                <i class="fas fa-user-tie nav-icon"></i>
                <p>Clients</p>
              </a>
            </li>
            {% endif %}
            <!--menu agent contrôle role_id=4-->
            {% if request.user.role_id == 4 %} 
            <li class="nav-item">
              <a href="{% url 'home' %}" class="nav-link">
                <i class="far fa-clipboard nav-icon"></i>
                <p>Gestion PNR</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'customers' %}" class="nav-link">
                <i class="fas fa-user-tie nav-icon"></i>
                <p>Clients</p>
              </a>
            </li>
            {% endif %}
             <!--menu centre affaire role_id=5-->
             {% if request.user.role_id == 5 %} 
             <li class="nav-item">
               <a href="{% url 'home' %}" class="nav-link">
                 <i class="far fa-clipboard nav-icon"></i>
                 <p>Gestion PNR</p>
               </a>
             </li>
             <li class="nav-item">
               <a href="{% url 'customers' %}" class="nav-link">
                 <i class="fas fa-user-tie nav-icon"></i>
                 <p>Clients</p>
               </a>
             </li>
             {% endif %}
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
    <div class="loadings">
      <div class="spinner-wrappers">
        <span class="spinner-texts">Chargement...</span>
        <span class="spinners"></span>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="alertModalMissingCustomer" tabindex="-1" role="dialog" aria-labelledby="alertModalMissingCustomer" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="alertModalMissingCustomer">Voulez-vous vraiment quitter la page ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span>Le client n'a pas encore été renseigné dans le détail du pnr sélectionné.</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="exitModalMissingCustomer">Confirmer</button>
          <button type="button" class="btn btn-success" data-dismiss="modal">Annuler</button>
        </div>
        </div>
      </div>
    </div>

    <div class="d-none modal custom-transition" id="backNavigationModal" tabindex="1" role="dialog" aria-labelledby="" aria-hidden="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="">Voulez-vous vraiment quitter la page ?</h5>
          <button type="button" class="close" id="closeBackNavigation" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span>Le client n'a pas encore été renseigné dans le détail du pnr sélectionné.</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="confirmBackNavigation">Confirmer</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" id="cancelBackNavigation">Annuler</button>
        </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="alertModalEmptyCustomer" tabindex="-1" role="dialog" aria-labelledby="alertModalEmptyCustomer" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title d-flex align-items-center" style="gap: 0.75rem" id="alertModalEmptyCustomer">
            <i class="fa-solid fa-triangle-exclamation fa-lg"></i>
            Blocage de l'enregistrement
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span>Aucun client n'a été sélectionné dans le détail du PNR.</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Revenir</button>
        </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="alertModalNoPassengerSelected" tabindex="-1" role="dialog" aria-labelledby="alertModalNoPassengerSelected" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title d-flex align-items-center" style="gap: 0.75rem" id="alertModalEmptyCustomer">
            <i class="fa-solid fa-triangle-exclamation fa-lg"></i>
            Blocage de l'enregistrement
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span>Aucun passager n'a été sélectionné dans le détail du PNR.</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Revenir</button>
        </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalCreateReceipt" tabindex="-1" role="dialog" aria-labelledby="modalCreateReceipt" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title d-flex align-items-center" style="gap: 0.75rem" id="modalCreateReceiptLabel">
              <i class="fa-solid fa-print fa-lg"></i>
              Impression d'un reçu
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body"> 
            {% with pnr.id|total_amount_order_for_receipt_print as total_amount_order_for_receipt_print %}
              {% with pnr.id|customer_invoiced_informations as customer_invoiced_informations %}
                {% with pnr.id|customer_has_not_had_order as customer_has_not_had_order %}
                  <label class="form-label">Client</label>
                  <select 
                    class="form form-control" 
                    id="select__modalCreateReceipt" 
                    data-pnr-number="{{ pnr.number }}" 
                    data-about-customers="{{ customer_invoiced_informations }}"
                    data-total-amount-order="{{ total_amount_order_for_receipt_print }}"
                  >
                    {% if customer_has_not_had_order.length < 2 %}
                      <option selected="true">Sélectionner le client</option>
                      {% for client in customer_has_not_had_order.list %}
                        <option value="{{ client.id }}" data-customer-id="{{ client.id }}">{{ client.intitule }}</option>
                      {% endfor %}
                    {% else %}
                      <option selected="true" disabled>Sélectionner le client</option>
                      {% for client in customer_has_not_had_order.list %}
                        <option value="{{ client.id }}" data-customer-id="{{ client.id }}">{{ client.intitule }}</option>
                      {% endfor %}
                    {% endif %}
                  </select>

                  <div class="d-none" id="div__modalCreateReceiptOrderNumber">
                    <label class="form-label mt-4">Numéro de commande</label>
                    <select 
                      class="form form-control" 
                      id="select__modalCreateReceiptOrderNumber" 
                    >
                    </select>
                  </div>
                {% endwith %}
              {% endwith %}
            {% endwith %}
          </div>
          <div class="modal-footer">
            <button 
              type="button" 
              class="btn btn-success" 
              data-toggle="modal"
              data-target="#modalCheckReceipt" 
              id="buttonModalCheckReceipt"
            >
              Suivant
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="modalCheckReceipt" tabindex="-1" role="dialog" aria-labelledby="modalCheckReceipt" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document" style="max-width: 950px !important">
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title d-flex align-items-center" style="gap: 0.75rem" id="modalCheckReceiptLabel">
            <i class="fa-solid fa-receipt fa-lg"></i>
            Aperçu de l'information PNR
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="receipt-content" id="pageToPrint">
            <div class="container bootstrap snippets bootdey">
              <div class="row d-flex justify-content-center bg-white">
                <div style="flex: 0 0 100%; max-width: 100%;">
                  <div class="invoice-wrapper">
                    <div class="header">
                      <div class="row d-flex align-items-center">
                        <div class="col-md-6">
                          <img src="{% static 'image/logo-issoufali.png' %}" alt="logo-issoufali">
                        </div>
                        <div class="col-md-6">
                          <span class="text-xl bg-info d-flex align-items-center justify-content-center">
                            Information PNR
                          </span>
                        </div>
                      </div>
                    </div>
                    <!--div class="intro payment-details">
                      Bonjour, <strong id="modalCheckReceipt__customer"></strong>,
                      <br />
                      Voici le reçu d'un paiement de <strong id="span__total__modalCheckReceipt">312.00</strong> <i class="fa fa-euro-sign fa-1x"></i>
                    </div-->
                    <div class="payment-info">
                      <div class="row">
                        <div class="col-sm-6">
                          <span>PNR Numéro</span>
                          <strong id="span__pnrNumber__modalCheckReceipt"></strong>
                        </div>
                        <div class="col-sm-6 text-right">
                          <span>Date de l'impression</span>
                          <strong id="span__issuedDate__modalCheckReceipt"></strong>
                        </div>
                      </div>
                    </div>
                    <div class="payment-details">
                      <div class="row">
                        <div class="col-sm-6">
                          <span>Client</span>
                          <strong id="span__customer__modalCheckReceipt"> Andres felipe posada </strong>
                          <p>
                            <span id="span__streetAndCity__modalCheckReceipt"></span>
                            <span id="span__stateAndCountry__modalCheckReceipt"></span>
                            <span id="span__phone__modalCheckReceipt"></span>
                            <span id="span__email__modalCheckReceipt"></span>
                          </p>
                        </div>
                        <div class="col-sm-6 text-right">
                          <span>Imprimé par </span>
                          <strong> {{ request.user.username }} </strong>
                          <p>
                            <span> {{ request.user.email }} </span>
                            {% comment %} 344 9th Avenue <br />
                            San Francisco <br />
                            99383 <br />
                            USA <br />
                            <a href="#">
                              <span
                                class="__cf_email__"
                                data-cfemail="315b44505f57544371565c50585d1f525e5c"
                                >[email&#160;protected]</span
                              >
                            </a> {% endcomment %}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="line-items">
                      <div class="headers clearfix">
                        <div class="row">
                          <div class="col-sm-1">Type</div>
                          <div class="col-sm-3">Article</div>
                          <div class="col-sm-3">Passager(s)</div>
                          <div class="col-sm-2">Date d'émission</div>
                          <div class="col-sm-1 text-right">Transport</div>
                          <div class="col-sm-1 text-right">Tax</div>
                          <div class="col-sm-1 text-right">Total</div>
                        </div>
                      </div>
                      <div class="items">
                        <div id="itemsContainer">
                          {% comment %} <div class="col-sm-2" id="item__type__modalCheckReceipt">Type</div>
                          <div class="col-sm-3" id="item__article__modalCheckReceipt">Article</div>
                          <div class="col-sm-2" id="item__transport__modalCheckReceipt">Transport</div>
                          <div class="col-sm-2" id="item__tax__modalCheckReceipt">Tax</div>
                          <div class="col-sm-3 text-right" id="item__total__modalCheckReceipt">Total</div> {% endcomment %}
                        </div>
                      </div>
                      <div class="total text-right">
                        <p class="extra-notes">
                          <strong>Notes : </strong> Veuillez vérifier le montant total de votre information PNR, s'il vous plait.
                        </p>
                        {% comment %} <div class="field">Subtotal <span>$379.00</span></div>
                        <div class="field">Shipping <span>$0.00</span></div>
                        <div class="field">Discount <span>4.5%</span></div> {% endcomment %}
                        <div class="field grand-total">
                          Total <span id="span__totalAmountOrder__modalCheckReceipt"></span>
                        </div>
                      </div>
                      <div class="print d-flex align-items-center justify-content-end">
                        <a id="buttonPrintReceipt">
                          <i class="fa fa-print"></i>
                          Imprimer l'information PNR
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>

    {% endblock %}

    {% block content %} {% endblock content %}


    <!-- Control Sidebar -->
    <!--aside class="control-sidebar control-sidebar-dark">
      <div class="p-3">
        <h5>Bonjour, {{request.user}}</h5>
        <span><a href=" {% url 'logout' %}">Déconnexion</a></span>
      </div>
    </aside-->
    <!-- /.control-sidebar -->
    {% block footer %}
    <!-- Main Footer -->
    <footer class="main-footer p-1">
      <!-- <div class="float-right d-none d-sm-block">
        <strong class="text-primary"><u>Montant total:</u> {{ pnr.invoice.detail.total }}</strong>
      </div> -->
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-none d-sm-block">
          <strong class="text-center">© 2023 <a href="https://phidia.fr">Phidia</a>.</strong> Tous droits réservés.
          <b>Version</b> 1.6.12
        </div>
        {% with pnr|pnr_comment_state as pnr_comment_state %} 
          <!-- -1: pas d'anomalie, 0: non traitée, 1: traitée -->
          <button 
            type="button" 
            class="btn {% if pnr_comment_state == 0 %} btn-danger {% elif pnr_comment_state == 1 %} btn-success {% else %} btn-secondary {% endif %} mr-2" 
            data-toggle="modal" 
            data-target="#modal-constat" 
            style="padding: 0.1rem 0.5rem !important">
            <i class="fa fa-warning text-white" data-toggle="tooltip" data-placement="top" title="Signaler"></i>
            <span class="text-white">Signaler</span>
          </button>
        {% endwith %}
      </div>
     
    </footer>
    {% endblock footer%}
  </div>
  <!-- ./wrapper -->
  {% block scripts %}
  <!--- HTML2Canvas JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- jQuery -->
  <!-- <script src="{% static 'js/jquery.min.js' %}"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha512-+NqPlbbtM1QqiK8ZAo4Yrj2c4lNQoGv8P79DPtKzj++l5jnN39rHA/xsqn8zE9l0uSoxaCdrOgFs6yjyfbBxSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Bootstrap 4 -->
  <!-- <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.bundle.min.js" integrity="sha512-mULnawDVcCnsk9a4aG1QLZZ6rcce/jSzEGqUkeOLy0b6q0+T6syHrxlsAGH7ZVoqC93Pd0lBqd6WguPWih7VHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- <script src="{% static 'js/jquery-ui.min.js' %}"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- AdminLTE App -->
  <!-- <script src="{% static 'js/adminlte.min.js' %}"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.2.0/js/adminlte.min.js" integrity="sha512-KBeR1NhClUySj9xBB0+KRqYLPkM6VvXiiWaSz/8LCQNdRpUm38SWUrj0ccNDNSkwCD9qPA4KobLliG26yPppJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- <script src="{% static 'js/jquery.tablesorter.min.js' %}"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.8/js/jquery.tablesorter.min.js" integrity="sha512-44cHLzeyt/bprAM6lomE1dUjGVYuz0YKY2wDsDo6/howeSO9mEdlCBfYoJXzYZgcTazp8HzrQ+gUviJtUdedNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="{% static 'js/jquery.tablesorter.widgets.js' %}"></script>
  <!-- <script src="{% static 'js/jquery.tablesorter.pager.min.js' %}"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.8/addons/pager/jquery.tablesorter.pager.min.js" integrity="sha512-XPtB1jKozWRGiBUT7iaM6Gd60MTDr6mqa/cBUocrCZ5BjpZUiIvRxwS7wo1gEIqKiMPpSdf4hcpY0WupaPmrSQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- <script src="{% static 'plugins/toastr/toastr.min.js' %}"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- <script src="{% static 'js/select2.min.js' %}"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js" integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/comment.js' %}"></script>
  <script src="{% static 'js/anomalie.js' %}"></script>
  <script src="{% static 'js/virtual-select.min.js' %}"></script>
  {% comment %} <script src="{% static 'js/virtual-select.js' %}"></script> {% endcomment %}

  <script src="{% static 'js/gdsCommandHandler.js' %}"></script>
  <script src="{% static 'js/CustomerHandler.js' %}"></script>
  <script src="{% static 'js/pnrDetailHandler.js' %}"></script>
  <script src="{% static 'js/invoice_unorder.js' %}"></script>


  <script>
    $('.tooltips.empty-passenger').append("<span></span>");
    $(".tooltips.empty-passenger").each((index, ticket) => {
      $(ticket).mouseenter(function () {
        $(this).find('span').empty().append(`Mail PNR manquant pour le billet ${ticket.getAttribute("data-ticket-number")}`);
      });
    })
  </script>

  {% if messages %}
  {% for message in messages %}
      {% if message.tags == 'success'%}
          <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
      {% elif message.tags == 'info' %}
          <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
      {% elif message.tags == 'warning' %}
          <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
      {% elif message.tags == 'error' %}
          <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
      {% endif %}
  {% endfor %}
{% endif %}
  {% endblock scripts %}
</body>

</html>