{% extends "layout-all-pnr.html" %}
{% block content %}
<div class="content-wrapper">
  <section class="content-header p-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h1 class="text-primary mb-2">Gestion clients</h1>
        </div>
        <!--div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Retour</li>
          </ol>
        </div-->
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row ">
        <div class="col-12">
          <div class="card card-primary card-tabs">
            <div class="card-header p-0 pt-1">
              <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#list_users"
                    role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Liste des clients</a>
                </li>

                <div class="float-right" style="right: 0; margin-right: 1rem; position: absolute;">
                  <div class="input-group input-group float-sm-right mt-1 mb-1" style="width: 150px;">
                    <input type="text" name="table_search" id="input-customer" class="form-control form-control-sm"
                      placeholder="Recherche">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default py-0">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
                
              </ul>              
            </div>
           
            <div class="card-body">
              <div class="tab-content" id="custom-tabs-one-tabContent">
                <div class="tab-pane fade active show" id="list_users" role="tabpanel"
                  aria-labelledby="custom-tabs-one-home-tab">
                  <div class="table-adapted-to-screen-height card-body table-responsive p-0">
                    <table class="table table-bordered table-head-fixed text-nowrap all-customer">
                      <thead class="bg-info">
                        <tr>
                          <th>Nom</th>
                          <th>Prénom(s)</th>
                          <th>Adresse</th>
                          <th>Type</th>
                          <th>Pays</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for client in page_obj %}
                        <tr class="client-list">
                          <td>{{ client.last_name }}</td>
                          <td>{{ client.first_name }}</td>
                          <td>{{ client.address_1 }}</td>
                          <td>{{ client.type }}</td>
                          <td>{{ client.country }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
  </section>
</div>

{% endblock content %}