{% extends "layout.html" %}
{% block content %}
<div class="content-wrapper">
  <section class="content-header p-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h1 class="text-primary">Gestion utilisateurs</h1>
        </div>
        <div class="col-sm-6">
          <a class="btn btn-outline-success float-sm-right mt-1 mr-2 mb-1" href="{% url 'register' %}"><i class="fas fa-plus"></i>
            Ajouter un utilisateur
          </a>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row ">
        <div class="col-12">
          <div class="card card-primary card-tabs">
            <div class="card-header p-0 pt-1">
              <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#list_users"
                    role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Liste des utilisateurs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#add_user" role="tab"
                    aria-controls="custom-tabs-one-profile" aria-selected="false">Liste des droits</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content" id="custom-tabs-one-tabContent">
                <div class="tab-pane fade active show" id="list_users" role="tabpanel"
                  aria-labelledby="custom-tabs-one-home-tab">
                  <div class="table-adapted-to-screen-height card-body table-responsive p-0">
                    <table class="table table-bordered table-head-fixed text-nowrap all-customer">
                      <thead class="bg-info">
                        <tr>
                          <th>Nom</th>
                          <th>Prénom(s)</th>
                          <th>Nom d'utilisateur</th>
                          <th>Email</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for user in users %}
                        <tr>
                          <td>{{ user.name }}</td>
                          <td>{{ user.first_name }}</td>
                          <td>{{ user.username }}</td>
                          <td>{{ user.email }}</td>
                        </tr>
                        {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="tab-pane fade" id="add_user" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                  <div class="card-body table-responsive p-0">
                    <table class="table table-bordered text-nowrap">
                      <thead class="bg-info">
                        <tr>
                          <th>Role_id</th>
                          <th>Nom</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for role in roles %}
                        <tr>
                          <td>{{ role.id }}</td>
                          <td>{{ role.name }}</td>
                        </tr>
                        {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
  </section>
</div>
{% endblock content %}