{% extends 'layout-all-pnr.html' %}
{% block content %}
<div class="content-wrapper">
    <section class="content" style="margin-top: 4.7rem">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary card-outline" style="margin-top: 4rem !important;">
                        <div class="card-header justify-content-between py-0">
                            <div class="row">
                                <div class="col-md-6 float-left">
                                    <h4 class="text-primary title-all-pnr mt-1 mb-0">Gestion Anomalies</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="d-flex col-xl col-md-6">
                                    <div class="flex-fill card">
                                        <div class=" py-4 card-body">
                                            <div class="d-flex align-items-start">
                                                <div class="flex-grow-1">
                                                    <h3 class="mb-2">{{all_pnr_count}}</h3>
                                                    <p class="mb-2">Total PNR remonté</p>
                                                    <div class="mb-0">
                                                        <span class="badge badge-success ">
                                                            <i class="bi-graph-up"></i>
                                                            {{last_week_pnr_count}}</span>
                                                        <span class="text-muted">La semaine dernière</span>
                                                    </div>
                                                </div>

                                                <div class="d-inline-block ms-3">
                                                    <div class="stat">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                                            <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"/>
                                                          </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                
                                <div class="d-flex col-xl col-md-6">
                                    <div class="flex-fill card">
                                        <div class=" py-4 card-body">
                                            <div class="d-flex align-items-start">
                                                <div class="flex-grow-1">
                                                    <h3 class="mb-2">$ 24.300</h3>
                                                    <p class="mb-2">Total PNR commandé</p>
                                                    <div class="mb-0">
                                                        <span class="text-success text-sm font-weight-bolder">+5.35%</span>
                                                        <span class="text-muted">La semaine dernière</span>
                                                    </div>
                                                </div>

                                                <div class="d-inline-block ms-3">
                                                    <div class="stat">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                                            <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"/>
                                                          </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="d-flex col-xl col-md-6">
                                    <div class="flex-fill card">
                                        <div class=" py-4 card-body">
                                            <div class="d-flex align-items-start">
                                                <div class="flex-grow-1">
                                                    <h3 class="mb-2">$ 24.300</h3>
                                                    <p class="mb-2">Total PNR remonté Aujourd'hui</p>
                                                    <div class="mb-0">
                                                        <span class="text-success text-sm font-weight-bolder">+5.35%</span>
                                                        <span class="text-muted">Since last week</span>
                                                    </div>
                                                </div>

                                                <div class="d-inline-block ms-3">
                                                    <div class="stat">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                                            <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"/>
                                                          </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="d-flex col-xl col-md-6">
                                    <div class="flex-fill card">
                                        <div class=" py-4 card-body">
                                            <div class="d-flex align-items-start">
                                                <div class="flex-grow-1">
                                                    <h3 class="mb-2">$ 24.300</h3>
                                                    <p class="mb-2">Total Earnings</p>
                                                    <div class="mb-0">
                                                        <span class="text-success text-sm font-weight-bolder">+5.35%</span>
                                                        <span class="text-muted">Since last week</span>
                                                    </div>
                                                </div>

                                                <div class="d-inline-block ms-3">
                                                    <div class="stat">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                                            <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"/>
                                                          </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                
                            </div>

                            <div class="row">
                                <div class="d-flex col-lg-6">
                                    <div class="flex-fill w-100 card">
                                        <div class="card-header">
                                            <h3 class="card-title align-items-start flex-column">
                                                <span class="card-label text-gray-800 fs-2" style="font-weight:bolder;">Total Passager par Destinations</span>
                                                <span class="text-gray-400 mt-2 fs-6" style="font-weight:semibold;">890,344 Passagers</span>
                                            </h3>
                                            <div class="dropdown" style="float:right;">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                  <a class="dropdown-item" href="#">Action</a>
                                                  <a class="dropdown-item" href="#">Another action</a>
                                                  <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex card-body">
                                            <div class="align-self-center w-100">
                                                <div id="chartContainer_2" style="width: 100%; height: 360px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex col-lg-6">
                                    <div class="flex-fill w-100 card">
                                        <div class="card-header">
                                            
                                            <h3 class="card-title align-items-start flex-column">
                                                <span class="card-label  text-gray-800 fs-2" style="font-weight:bolder;">Passagers par tranche d'âge</span>
                                                <span class="text-gray-400  mt-2 fs-6" style="font-weight:semibold;">890,344 Passagers</span>
                                            </h3>
                                        </div>
                                        <div class="d-flex card-body">
                                            <div class="align-self-center w-100">
                                                <div id="chartContainer" style="width: 100%; height: 360px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                            
                            <div class="row">
                                <div class="d-flex col-lg-6">
                                    <div class="flex-fill w-100 card">
                                        <div class="card-header">
                                            
                                            <h3 class="card-title align-items-start flex-column">
                                                <span class="card-label  text-gray-800 fs-2" style="font-weight:bolder;">Passagers par tranche d'âge</span>
                                                <span class="text-gray-400  mt-2 fs-6" style="font-weight:semibold;">890,344 Passagers</span>
                                            </h3>
                                        </div>
                                        <div class="d-flex card-body">
                                            <div class="align-self-center w-100">
                                                <div id="chartContainer_3" style="width: 100%; height: 360px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex col-lg-6">
                                    <div class="flex-fill w-100 card">
                                        <div class="card-header">
                                            
                                            <h3 class="card-title align-items-start flex-column">
                                                <span class="card-label  text-gray-800 fs-2" style="font-weight:bolder;">Passagers par tranche d'âge</span>
                                                <span class="text-gray-400  mt-2 fs-6" style="font-weight:semibold;">890,344 Passagers</span>
                                            </h3>
                                        </div>
                                        <div class="d-flex card-body">
                                            <div class="align-self-center w-100">
                                                <div id="chartContainer_4" style="width: 100%; height: 360px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    window.onload = function () {
        console.log('coucou')
        var chart = new CanvasJS.Chart("chartContainer", {
            exportEnabled: true,
            animationEnabled: true,
            data: [{
                type: "pie",
                legendText: "{label}",
                yValueFormatString: "#,###\"%\"",
                indexLabel: "{label} ({y})",
                dataPoints: {{ passenger_by_age|safe }}
            }]
        });

        chart.render();

        var Destination_data = {{all_data|safe}}
        

        var chart_2 = new CanvasJS.Chart("chartContainer_2", {
            exportEnabled: true,
            theme: "light2",
            
            toolTip: {
              shared: true
            },
            axisY: {
              title: "Nombre de passager",
              valueFormatString: "#,##0.##"
            },
            legend: {
              cursor: "pointer",
              itemclick: toggleDataSeries
            },
            data: Destination_data.map((element) => ({
                type: "bar",
                name: element[0],
                showInLegend: true,
                yValueFormatString: "#,##0.##",
                dataPoints: element.slice(1) // Utiliser slice(1) pour obtenir tous les éléments sauf le premier
            }))
        });
        chart_2.render();

        var chart_3 = new CanvasJS.Chart("chartContainer_3", {
            exportEnabled: true,
            theme: "light2",
            title:{
              text: "Total Passager par Origines"
            },
            toolTip: {
              shared: true
            },
            axisY: {
              title: "Nombre de passager",
              valueFormatString: "#,##0.##"
            },
            legend: {
              cursor: "pointer",
              itemclick: toggleDataSeries
            },
            data: Destination_data.map((element) => ({
                type: "bar",
                name: element[0],
                showInLegend: true,
                yValueFormatString: "#,##0.##",
                dataPoints: element.slice(1) // Utiliser slice(1) pour obtenir tous les éléments sauf le premier
            }))
        });
        chart_3.render();

        var airline_data = {{all_data_airline|safe}}
        var chart_4 = new CanvasJS.Chart("chartContainer_4", {
            exportEnabled: true,
            theme: "light2",
            title: {
              text: "Total Passager par compagnie aérienne"
            },
            axisY: {
              title: "Nombre de Passager",
              stripLines: [{
                value: 10000,
                label: "Goal"
              }]
            },
            
            data: airline_data.map((element) => ({
                type: "line",
                name: element[0],
                showInLegend: true,
                yValueFormatString: "#,### Person",
                dataPoints: element.slice(1)
            }))
          });
          chart_4.render();

        
        
        function toggleDataSeries(e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            } else {
                e.dataSeries.visible = true;
            }
            e.chart.render();
        }

    }


</script>
{% endblock content %}
