<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=10">
    <title>
        {% block title %}
        Gestion PNR
        {% endblock %}
      </title>
      <link rel="icon" type="image/x-icon" href="{% static 'image/app-logo.png' %}">
    {% block css %}
  <style>
    .tr-danger {
      color: red !important;
    }

    .tr-danger:hover {
      color: red !important;
    }
    .tr-warning {
      color: #D2691E !important;
    }

    .tr-warning:hover {
      color: #D2691E !important;
    }
  </style>

  <link rel="stylesheet" href="{% static 'css/multi-insert.css' %}">

  <!--fontawesome-->
  <!-- <link rel="stylesheet" href="{% static 'font/css/all.min.css' %}"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- admin lte -->
  <!-- <link rel="stylesheet" href="{% static 'css/adminlte.css' %}"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.2.0/css/adminlte.min.css" integrity="sha512-IuO+tczf4J43RzbCMEFggCWW5JuX78IrCJRFFBoQEXNvGI6gkUw4OjuwMidiS4Lm9Q2lILzpJwZuMWuSEeT9UQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Toastr -->
  <!-- <link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css' %}"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.5.0/pagination.min.css" integrity="sha512-K1k7jSn9RDKEcn/ugqVVvWYu0bcS3q1w6m/5pQSnrj0bCfIqF6Wk49lkmckSb4wglvTP9V17LtS0q0XxYccXbg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- style -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- tablesort-->
  <link href="{% static 'css/theme.default.css' %}" rel="stylesheet">


  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0/css/select2.min.css" rel="stylesheet" />

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.css" integrity="sha512-Y+AaVWdRf6zsGm7eV+EGOIuqYZoi2wUQ7wF8oHbnLy8k2zdVGSxyjn2qDUMFkLRy/9mqOAE5BeyEqx1yxDTQIw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  {% endblock %}
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.min.js"></script> 
<script type="text/javascript">
    var currentDate = new Date();
    var currentMonth = currentDate.getMonth() + 1;


    var pnr_invoiced = {{pnr_invoiced|safe}}
    var pnr_created = {{pnr_created|safe}}


    window.onload = function () {

         var dpr = window.devicePixelRatio || 1;
            var chartContainer = document.getElementById("PnrchartContainer2");

            // Ajuster la taille du conteneur en fonction du DPR
            chartContainer.style.width = (chartContainer.offsetWidth * dpr) + "px";
            chartContainer.style.height = (chartContainer.offsetHeight * dpr) + "px";
            
        function hideUnhideDataSeries(e) {
          if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
            e.dataSeries.visible = false;
          } else {
            e.dataSeries.visible = true;
          }
 
          e.chart.render();
        }

        function toggleDataSeries(e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            } else {
                e.dataSeries.visible = true;
            }
            e.chart.render();
        }

        var chart_6 = new CanvasJS.Chart("PnrchartContainer2", {
            exportEnabled: false,
            animationEnabled: true,
            theme: "light1",
            title: {
                text: "Pnr commandé par mois"
              },
            axisY: {
              title: "Nombre de PNR",
              titleFontColor: "#4F81BC",
              lineColor: "#4F81BC",
              labelFontColor: "#4F81BC",
              tickColor: "#4F81BC",
              includeZero: true
            },
            axisX: {
                interval: 1, // Afficher chaque étiquette sur l'axe des X
                labelAngle: -45 // Incliner les étiquettes si nécessaire
            },
            axisY2: {
              title: "Clicks",
              titleFontColor: "#C0504E",
              lineColor: "#C0504E",
              labelFontColor: "#C0504E",  
              tickColor: "#C0504E"
            },
            toolTip: {
              shared: true
            },
            legend: {
              cursor: "pointer",
              itemclick: toggleDataSeries
            },
            data: pnr_invoiced.map((element) => ({
              type: "spline",
              name: element.year,
              lineDashType: "dot",
              showInLegend: true,
              yValueFormatString: "#,### PNR",
              dataPoints: element.data
            }))
        });
        chart_6.render();

        var chart_7 = new CanvasJS.Chart("PnrchartContainer1", {
            exportEnabled: false,
            animationEnabled: true,
            theme: "light1",
            title: {
                text: "Pnr remonté par mois"
              },
            axisX: {
                interval: 1, // Afficher chaque étiquette sur l'axe des X
                labelAngle: -45 // Incliner les étiquettes si nécessaire
            },
            axisY: {
              title: "Nombre de PNR",
              titleFontColor: "#4F81BC",
              lineColor: "#4F81BC",
              labelFontColor: "#4F81BC",
              tickColor: "#4F81BC",
              includeZero: true
            },
            axisY2: {
              title: "Clicks",
              titleFontColor: "#C0504E",
              lineColor: "#C0504E",
              labelFontColor: "#C0504E",  
              tickColor: "#C0504E"
            },
            toolTip: {
              shared: true
            },
            legend: {
              cursor: "pointer",
              itemclick: toggleDataSeries
            },
            data: pnr_created.map((element) => ({
              type: "spline",
              name: element.year,
              lineDashType: "dot",
              showInLegend: true,
              yValueFormatString: "#,### PNR",
              dataPoints: element.data
            }))
        });
        chart_7.render();

        

       

        $("#updateDataPoint").click(function () {

        var length = chart.options.data[0].dataPoints.length;
        chart.options.title.text = "Last DataPoint Updated";
        chart.options.data[0].dataPoints[length-1].y = 15 - Math.random() * 10;
        chart.render();

        });
    }
</script>
</head>  
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed sidebar-collapse" id="pushed-content" >
    {% block body %}

    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light" id="layoutHomeMenu">
            <div class="card-header justify-content-between py-0" >
                <div class="row" style="padding:10px;">
                    <div class=" float-left">
                        <h3 class="text-primary title-all-pnr mt-1 mb-0">Etat d'Analyse et Statistiques</h3>
                    </div>
                </div>
            </div>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->

                
                <li class="nav-item">
                {% comment %} <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                    <i class="fas fa-expand-arrows-alt"></i>
                </a> {% endcomment %}
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-user"></i> {{request.user.username}}
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <a href="{% url 'account' %}" class="dropdown-item">
                    Mon compte
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'logout' %}" class="dropdown-item">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    Se déconnecter
                    </a>
                </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4 shadow">
            <!-- Sidebar -->
            <div class="sidebar  mt-0">
            <div class="content-logo mt-3 pb-3 mb-3 d-flex justify-content-center">
                <div class="image">
                <img src="{% static 'image/app-logo.png' %}" class="logo">
                </div>
            </div>
    
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!--li class="nav-item">
                    <a href="{% url 'dashboard' %}" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>Tableau de bord</p>
                    </a>
                </li-->
                <!--menu admin role_id=1-->
                {% if request.user.role_id == 1 %}
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link">
                    <i class="far fa-clipboard nav-icon"></i>
                    <p>Gestion PNR</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'customers' %}" class="nav-link">
                    <i class="fas fa-user-tie nav-icon"></i>
                    <p>Clients</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'users' %}" class="nav-link">
                    <i class="fas fa-users nav-icon"></i>
                    <p>Utilisateurs</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'setting' %}" class="nav-link">
                    <i class="fas fa-wrench nav-icon" aria-hidden="true"></i>
                    <p>Configurations</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'tools' %}" class="nav-link">
                    <i class="fa fa-cog nav-icon" aria-hidden="true"></i>
                    <p>Outils</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'comment-list' %}" class="nav-link">
                    <i class="fas fa-exclamation nav-icon"></i>
                    <p>Anomalies PNR</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'get_all_pnr_unordered' %}" class="nav-link">
                    <i class="fas fa-trash-can nav-icon"></i>
                    <p>PNR Décommandés</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'all_unremounted_pnr' %}" class="nav-link">
                      <i class="fas fa-clock nav-icon"></i>
                      <p>PNR Non remonté</p>
                    </a>
                  </li>
      
                  <li class="nav-item">
                    <a href="{% url 'get_all_canceled_ticket' %}" class="nav-link">
                      <i class="fas fa-ban nav-icon"></i>
                      <p>Billets annulés</p>
                    </a>
                  </li>
      
                  <li class="nav-item">
                    <a href="{% url 'get_all_anomalies' %}" class="nav-link">
                      <i class="fas fa-clock nav-icon"></i>
                      <p>Billet non remonté</p>
                    </a>
                  </li>
      
                  <li class="nav-item">
                    <a href="{% url 'graph_view' %}" class="nav-link">
                      <i class="fas fa-chart-bar nav-icon"></i>
                      <p>Statistiques</p>
                    </a>
                  </li>
                {% endif %}
                <!--menu direction role_id=2-->
                {% if request.user.role_id == 2 %}
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link">
                    <i class="far fa-clipboard nav-icon"></i>
                    <p>Gestion PNR</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'customers' %}" class="nav-link">
                    <i class="fas fa-user-tie nav-icon"></i>
                    <p>Clients</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'users' %}" class="nav-link">
                    <i class="fas fa-users nav-icon"></i>
                    <p>Utilisateurs</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'comment-list' %}" class="nav-link">
                    <i class="fas fa-exclamation nav-icon"></i>
                    <p>Anomalies PNR</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'graph_view' %}" class="nav-link">
                    <i class="fas fa-chart-bar nav-icon"></i>
                    <p>Statistiques</p>
                    </a>
                </li>
                {% endif %}
                <!--menu agent comptoir role_id=3-->
                {% if request.user.role_id == 3 %}
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link">
                    <i class="far fa-clipboard nav-icon"></i>
                    <p>Gestion PNR</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'customers' %}" class="nav-link">
                    <i class="fas fa-user-tie nav-icon"></i>
                    <p>Clients</p>
                    </a>
                </li>
                {% endif %}
                <!--menu agent contrôle role_id=4-->
                {% if request.user.role_id == 4 %}
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link">
                    <i class="far fa-clipboard nav-icon"></i>
                    <p>Gestion PNR</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'customers' %}" class="nav-link">
                    <i class="fas fa-user-tie nav-icon"></i>
                    <p>Clients</p>
                    </a>
                </li>
                {% endif %}
                <!--menu centre affaire role_id=5-->
                {% if request.user.role_id == 5 %}
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link">
                    <i class="far fa-clipboard nav-icon"></i>
                    <p>Gestion PNR</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'customers' %}" class="nav-link">
                    <i class="fas fa-user-tie nav-icon"></i>
                    <p>Clients</p>
                    </a>
                </li>
                {% endif %}
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        {% endblock %}
        {% if request.get_full_path == '/home/' %}
        <div class="loading">
            <div class="spinner-wrapper">
                <span class="spinner-text">Chargement...</span>
                <span class="spinner"></span>
            </div>
        </div>
            {% endif %}
            {% block content %} 
            <div class="content-wrapper">
                <section class="content" style="">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-primary card-outline" style="">
                                    
                                    <div class="card-body">
                                        <div class="col-md-12" style="">
                                            <div class="row"  style="justify-content:space-between;">
                                                <div class="col-md-3 ">
                                                    <a href="{% url 'graph_view' %}"><button class="btn btn-primary" style="width:100%" >PNR</button></a>
                                                </div>
                                                <div class="col-md-3 ">
                                                    <a href="{% url 'passenger_graph_view' %}"><button class="btn btn-outline-primary" style="width:100%" >Passager</button></a>
                                                </div>
                                                
                                                <div class="col-md-3 ">
                                                    <a href="{% url 'anomaly_graph_view' %}"><button class="btn btn-outline-primary" style="width:100%" >Anomalie</button></a>
                                                </div>

                                                <div class="col-md-3 ">
                                                    <a href="{% url 'user_graph_view' %}"><button class="btn btn-outline-primary" style="width:100%" >Utilisateur</button></a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-content" id="pills-tabContent" style="margin:30px 0 0 -18px;">
                                            
                                            <div class="tab-pane fade show active" id="pills-passager" role="tabpanel" aria-labelledby="pills-passager-tab">
                                                <div class="row" style="padding-left:10px;">
                                                    <div class="d-flex col-xl col-md-6">
                                                        <div class="flex-fill card">
                                                            <div class=" py-4 card-body">
                                                                <div class="row align-items-center m-l-0">
                                                                    <div class="col-auto">
                                                                        <i class="fa fa-file-text text-info" style="font-size:50px;"></i>
                                                                    </div>
                    
                                                                    <div class="col-auto" style="margin-left:3rem">
                                                                        <h2 class="text-muted m-b-10" style="margin-left:2rem;">PNR</h2>
                                                                        <h2 class="m-b-0" style="margin-left:1rem;">{{total_pnr}}</h2>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                    
                                                    </div>
                                                    
                                                    <div class="d-flex col-xl col-md-6">
                                                        <div class="flex-fill card">
                                                            <div class=" py-4 card-body">
                                                                <div class="row align-items-center m-l-0">
                                                                    <div class="row align-items-center m-l-0">

                                                                        <div class="col-auto">
                                                                            <i class="fa fa-rocket" style="font-size:50px;color:#C3FF93;"></i>
                                                                            
                                                                        </div>
    
                                                                        <div class="col-auto" style="">
                                                                            <h3 class="mb-2">{{pnr_of_today}}</h3>
                                                                            <p class="mb-2">PNR remonté aujourd'hui</p>
                                                                            {% comment %} <div class="mb-0">
                                                                                <span class="text-success text-sm font-weight-bolder"></span>
                                                                                <span class="text-muted">depuis hier</span>
                                                                            </div> {% endcomment %}
                                                                        </div>
    
                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                    
                                                    </div>
                    
                                                    <div class="d-flex col-xl col-md-6">
                                                        <div class="flex-fill card">
                                                            <div class=" py-4 card-body">
                                                                <div class="row align-items-center m-l-0">

                                                                    <div class="col-auto">
                                                                        <i class="fa fa-cloud-upload" style="font-size:50px;color:#FFF455;"></i>
                                                                        
                                                                    </div>

                                                                    <div class="col-auto" style="">
                                                                        <h3 class="mb-2">{{pnr_invoiced_today}}</h3>
                                                                        <p class="mb-2">PNR commandé aujourd'hui</p>
                                                                        {% comment %} <div class="mb-0">
                                                                            <span class="text-success text-sm font-weight-bolder"></span>
                                                                            <span class="text-muted">depuis hier</span>
                                                                        </div> {% endcomment %}
                                                                    </div>

                                                                    
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                    
                                                    </div>
                    
                                                    <div class="d-flex col-xl col-md-6">
                                                        <div class="flex-fill card">
                                                            <div class=" py-4 card-body">
                                                                <div class="row align-items-center m-l-0">

                                                                    <div class="col-auto">
                                                                        <i class="fa fa-window-close text-danger" style="font-size:50px;"></i>
                                                                        
                                                                    </div>

                                                                    <div class="col-auto" style="margin-left:3rem">
                                                                        <h3 class="mb-2">{{pnr_to_invoice}}</h3>
                                                                        <p class="mb-2">PNR à commandé aujourd'hui</p>
                                                                        {% comment %} <div class="mb-0">
                                                                            <span class="text-success text-sm font-weight-bolder"></span>
                                                                            <span class="text-muted">depuis le dernier mois</span>
                                                                        </div> {% endcomment %}
                                                                    </div>

                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                    
                                                    </div>
                                                    
                                                </div>
        
                                                <div class="row" style="padding-left:10px;">
                                                    <div class="d-flex col-lg-6">
                                                        <div class="flex-fill w-100 card">
                                                           
                                                            <div class="d-flex card-body">
                                                                <div class="align-self-center w-100">
                                                                    
                                                                    <div id="PnrchartContainer1" style="width:100%; height:380px"></div>  
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex col-lg-6">
                                                        <div class="flex-fill w-100 card">
                                                            
                                                            <div class="d-flex card-body">
                                                                <div class="align-self-center w-100">
                                                                    <div id="PnrchartContainer2" style="width: 100%; height: 360px;"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                </div>
                                                
                                              
                                            </div>
                                        </div>
            
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
                
            {% endblock content %}
            
            {% block footer %}
            <!-- Main Footer -->
            <footer class="main-footer p-1">
            <div class="d-none d-sm-block float-right ">
                <strong class="text-center">&copy; 2023 <a href="https://phidia.fr">Phidia</a>.</strong> Tous droits réservés.
                <b>Version</b> 1.6.12 
            </div>
            
            </footer>
            {% endblock footer%}
    </div>
      <!-- ./wrapper -->

  

</body>
</html>
