<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=10">
    <title>
        {% block title %}
        Gestion PNR
        {% endblock %}
      </title>
      <link rel="icon" type="image/x-icon" href="{% static 'image/app-logo.png' %}">
    {% block css %}
  <style>
    .tr-danger {
      color: red !important;
    }

    .tr-danger:hover {
      color: red !important;
    }
    .tr-warning {
      color: #D2691E !important;
    }

    .tr-warning:hover {
      color: #D2691E !important;
    }
  </style>

  <link rel="stylesheet" href="{% static 'css/multi-insert.css' %}">

  <!--fontawesome-->
  <!-- <link rel="stylesheet" href="{% static 'font/css/all.min.css' %}"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- admin lte -->
  <!-- <link rel="stylesheet" href="{% static 'css/adminlte.css' %}"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.2.0/css/adminlte.min.css" integrity="sha512-IuO+tczf4J43RzbCMEFggCWW5JuX78IrCJRFFBoQEXNvGI6gkUw4OjuwMidiS4Lm9Q2lILzpJwZuMWuSEeT9UQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Toastr -->
  <!-- <link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css' %}"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.5.0/pagination.min.css" integrity="sha512-K1k7jSn9RDKEcn/ugqVVvWYu0bcS3q1w6m/5pQSnrj0bCfIqF6Wk49lkmckSb4wglvTP9V17LtS0q0XxYccXbg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- style -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- tablesort-->
  <link href="{% static 'css/theme.default.css' %}" rel="stylesheet">


  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0/css/select2.min.css" rel="stylesheet" />

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.css" integrity="sha512-Y+AaVWdRf6zsGm7eV+EGOIuqYZoi2wUQ7wF8oHbnLy8k2zdVGSxyjn2qDUMFkLRy/9mqOAE5BeyEqx1yxDTQIw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  {% endblock %}
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.min.js"></script> 
<script type="text/javascript">
    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", { 
            title: {
                text: "Adding & Updating dataPoints"
            },
            data: [
            {
                type: "spline",
                dataPoints: [
                    { y: 10 },
                    { y:  4 },
                    { y: 18 },
                    { y:  8 }	
                ]
            }
            ]
        });
        chart.render();	

        $("#addDataPoint").click(function () {

        var length = chart.options.data[0].dataPoints.length;
        chart.options.title.text = "New DataPoint Added at the end";
        chart.options.data[0].dataPoints.push({ y: 25 - Math.random() * 10});
        chart.render();

        });

        $("#updateDataPoint").click(function () {

        var length = chart.options.data[0].dataPoints.length;
        chart.options.title.text = "Last DataPoint Updated";
        chart.options.data[0].dataPoints[length-1].y = 15 - Math.random() * 10;
        chart.render();

        });
    }
</script>
</head>  
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed sidebar-collapse" id="pushed-content" style="margin-top:8rem;">
    {% block body %}

    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light shadow" id="layoutHomeMenu">
        <form method='POST' action=''>
                <!-- Left navbar links -->
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" id="pushed-sidebar" data-widget="pushmenu" href="#" role="button"><i
                    class="fas fa-bars"></i></a>   
            </li>
            <li class="nav-item">
                {% include "commandes_modal.html" %}
            </li>
            <li class="nav-item ml-5 d-flex" style="gap: 0.5rem;">
                <div class="align-items-center">
                <span id="mail-user" data-mail="issoufali.pnr@outlook.com;{{request.user.email}}">issoufali.pnr@outlook.com;{{request.user.email}}</span>
                <a type="button" class="btn btn-outline-primary zenith" onclick="copymailuser()">Zenith</a> 
                
                </div>
                <div id="pnrNotUpdated">
                    <button 
                    type="button" 
                    class="btn btn-outline-danger zenith" 
                    data-toggle="modal" 
                    data-target="#modalPnrNotUpdated" 
                    title="Pnr non remonté"
                    id = "pnr-not-fetched"
                    >
                    <i class="fa fa-upload"></i>
                    Pnr non remonté
                    </button>
                </div>
    
            </li>
            </ul>
        </form>
    
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
                
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-user"></i> {{request.user.username}}
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <a href="{% url 'account' %}" class="dropdown-item">
                    Mon compte
                </a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'logout' %}" class="dropdown-item">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    Se déconnecter
                </a>
                </div>
            </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4 shadow">
            <!-- Sidebar -->
            <div class="sidebar  mt-0">
            <div class="content-logo mt-3 pb-3 mb-3 d-flex justify-content-center">
                <div class="image">
                <img src="{% static 'image/app-logo.png' %}" class="logo">
                </div>
            </div>
    
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!--li class="nav-item">
                    <a href="{% url 'dashboard' %}" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>Tableau de bord</p>
                    </a>
                </li-->
                <!--menu admin role_id=1-->
                {% if request.user.role_id == 1 %}
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link">
                    <i class="far fa-clipboard nav-icon"></i>
                    <p>Gestion PNR</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'customers' %}" class="nav-link">
                    <i class="fas fa-user-tie nav-icon"></i>
                    <p>Clients</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'users' %}" class="nav-link">
                    <i class="fas fa-users nav-icon"></i>
                    <p>Utilisateurs</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'setting' %}" class="nav-link">
                    <i class="fas fa-wrench nav-icon" aria-hidden="true"></i>
                    <p>Configurations</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'tools' %}" class="nav-link">
                    <i class="fa fa-cog nav-icon" aria-hidden="true"></i>
                    <p>Outils</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'comment-list' %}" class="nav-link">
                    <i class="fas fa-exclamation nav-icon"></i>
                    <p>Anomalies PNR</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'get_all_pnr_unordered' %}" class="nav-link">
                    <i class="fas fa-trash-can nav-icon"></i>
                    <p>PNR Décommandés</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'get_all_canceled_ticket' %}" class="nav-link">
                    <i class="fas fa-ban nav-icon"></i>
                    <p>Billets annulés</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'all_unremounted_pnr' %}" class="nav-link">
                    <i class="fas fa-clock nav-icon"></i>
                    <p>PNR Non remonté</p>
                    </a>
                </li>
    
                <li class="nav-item">
                    <a href="{% url 'get_all_anomalies' %}" class="nav-link">
                    <i class="fas fa-clock nav-icon"></i>
                    <p>Anomalie en attente</p>
                    </a>
                </li>
    
                <li class="nav-item">
                    <a href="{% url 'graph_view' %}" class="nav-link">
                    <i class="fas fa-chart-bar nav-icon"></i>
                    <p>Statistiques</p>
                    </a>
                </li>
                {% endif %}
                <!--menu direction role_id=2-->
                {% if request.user.role_id == 2 %}
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link">
                    <i class="far fa-clipboard nav-icon"></i>
                    <p>Gestion PNR</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'customers' %}" class="nav-link">
                    <i class="fas fa-user-tie nav-icon"></i>
                    <p>Clients</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'users' %}" class="nav-link">
                    <i class="fas fa-users nav-icon"></i>
                    <p>Utilisateurs</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'comment-list' %}" class="nav-link">
                    <i class="fas fa-exclamation nav-icon"></i>
                    <p>Anomalies PNR</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'graph_view' %}" class="nav-link">
                    <i class="fas fa-chart-bar nav-icon"></i>
                    <p>Statistiques</p>
                    </a>
                </li>
                {% endif %}
                <!--menu agent comptoir role_id=3-->
                {% if request.user.role_id == 3 %}
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link">
                    <i class="far fa-clipboard nav-icon"></i>
                    <p>Gestion PNR</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'customers' %}" class="nav-link">
                    <i class="fas fa-user-tie nav-icon"></i>
                    <p>Clients</p>
                    </a>
                </li>
                {% endif %}
                <!--menu agent contrôle role_id=4-->
                {% if request.user.role_id == 4 %}
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link">
                    <i class="far fa-clipboard nav-icon"></i>
                    <p>Gestion PNR</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'customers' %}" class="nav-link">
                    <i class="fas fa-user-tie nav-icon"></i>
                    <p>Clients</p>
                    </a>
                </li>
                {% endif %}
                <!--menu centre affaire role_id=5-->
                {% if request.user.role_id == 5 %}
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link">
                    <i class="far fa-clipboard nav-icon"></i>
                    <p>Gestion PNR</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'customers' %}" class="nav-link">
                    <i class="fas fa-user-tie nav-icon"></i>
                    <p>Clients</p>
                    </a>
                </li>
                {% endif %}
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        {% endblock %}
        {% if request.get_full_path == '/home/' %}
        <div class="loading">
            <div class="spinner-wrapper">
                <span class="spinner-text">Chargement...</span>
                <span class="spinner"></span>
            </div>
        </div>
            {% endif %}
            {% block content %} 
            <div class="content-wrapper">
                <section class="content" style="margin-top: 4.7rem">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-primary card-outline" style="margin-top: 4rem !important;">
                                    <div class="card-header justify-content-between py-0">
                                        <div class="row">
                                            <div class="col-md-6 float-left">
                                                <h4 class="text-primary title-all-pnr mt-1 mb-0">Gestion Anomalies</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
            
                                        <div class="row">
                                            <div class="d-flex col-xl col-md-6">
                                                <div class="flex-fill card">
                                                    <div class=" py-4 card-body">
                                                        <div class="d-flex align-items-start">
                                                            <div class="flex-grow-1">
                                                                <h3 class="mb-2">{{all_pnr_count}}</h3>
                                                                <p class="mb-2">Total PNR remonté</p>
                                                                <div class="mb-0">
                                                                    <span class="badge badge-success ">
                                                                        <i class="bi-graph-up"></i>
                                                                        {{last_week_pnr_count}}</span>
                                                                    <span class="text-muted">La semaine dernière</span>
                                                                </div>
                                                            </div>
            
                                                            <div class="d-inline-block ms-3">
                                                                <div class="stat">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                                                        <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"/>
                                                                      </svg>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
            
                                            </div>
                                            
                                            <div class="d-flex col-xl col-md-6">
                                                <div class="flex-fill card">
                                                    <div class=" py-4 card-body">
                                                        <div class="d-flex align-items-start">
                                                            <div class="flex-grow-1">
                                                                <h3 class="mb-2">$ 24.300</h3>
                                                                <p class="mb-2">Total PNR commandé</p>
                                                                <div class="mb-0">
                                                                    <span class="text-success text-sm font-weight-bolder">+5.35%</span>
                                                                    <span class="text-muted">La semaine dernière</span>
                                                                </div>
                                                            </div>
            
                                                            <div class="d-inline-block ms-3">
                                                                <div class="stat">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                                                        <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"/>
                                                                      </svg>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
            
                                            </div>
            
                                            <div class="d-flex col-xl col-md-6">
                                                <div class="flex-fill card">
                                                    <div class=" py-4 card-body">
                                                        <div class="d-flex align-items-start">
                                                            <div class="flex-grow-1">
                                                                <h3 class="mb-2">$ 24.300</h3>
                                                                <p class="mb-2">Total PNR remonté Aujourd'hui</p>
                                                                <div class="mb-0">
                                                                    <span class="text-success text-sm font-weight-bolder">+5.35%</span>
                                                                    <span class="text-muted">Since last week</span>
                                                                </div>
                                                            </div>
            
                                                            <div class="d-inline-block ms-3">
                                                                <div class="stat">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                                                        <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"/>
                                                                      </svg>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
            
                                            </div>
            
                                            <div class="d-flex col-xl col-md-6">
                                                <div class="flex-fill card">
                                                    <div class=" py-4 card-body">
                                                        <div class="d-flex align-items-start">
                                                            <div class="flex-grow-1">
                                                                <h3 class="mb-2">$ 24.300</h3>
                                                                <p class="mb-2">Total Earnings</p>
                                                                <div class="mb-0">
                                                                    <span class="text-success text-sm font-weight-bolder">+5.35%</span>
                                                                    <span class="text-muted">Since last week</span>
                                                                </div>
                                                            </div>
            
                                                            <div class="d-inline-block ms-3">
                                                                <div class="stat">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                                                        <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"/>
                                                                      </svg>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
            
                                            </div>
                                            
                                        </div>
            
                                        <div class="row">
                                            <div class="d-flex col-lg-6">
                                                <div class="flex-fill w-100 card">
                                                    <div class="" style="padding: 10px 10px 10px 10px;" >
                                                        <div class="row">
                                                            <h3 class="card-title align-items-start flex-column col-md-6" style="margin-top:1rem;">
                                                                <span class="card-label text-gray-800 fs-2" style="font-weight:bolder;">Total Passager par Destinations</span>
                                                                <span class="text-gray-400 mt-2 fs-6" style="font-weight:semibold;">890,344 Passagers</span>
                                                            </h3>
                                                            <div class="col-md-6">
                                                                <div class="dropdown " style="float:right;">                               
                                                                    <div class="input-group ">
                                                                    <div class="input-group-prepend">
                                                                        <label class="input-group-text" for="selectMonth">Mois</label>
                                                                    </div>
                                                                    <select class="custom-select" id="selectMonth">
                                                                        <option selected>Choose...</option>
                                                                    </select>
                                                                    </div>
                                                                        
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    <hr>
                                                    <div class="d-flex card-body">
                                                        <div class="align-self-center w-100">
                                                            <div id="chartContainer_2" style="width: 100%; height: 360px;"></div>
                                                            <div id="chartContainer" style="width:100%; height:280px"></div>  
                                                            <button id="addDataPoint">Add Data Point</button>  
                                                            <button id="updateDataPoint">Update Data Point</button> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex col-lg-6">
                                                <div class="flex-fill w-100 card">
                                                    <div class="card-header" style="position: -webkit-sticky;position:sticky !important;">
                                                        
                                                        <h3 class="card-title align-items-start flex-column">
                                                            <span class="card-label  text-gray-800 fs-2" style="font-weight:bolder;">Passagers par tranche d'âge</span>
                                                            <span class="text-gray-400  mt-2 fs-6" style="font-weight:semibold;">890,344 Passagers</span>
                                                        </h3>
                                                        
                                                    </div>
                                                    <div class="d-flex card-body">
                                                        <div class="align-self-center w-100">
                                                            <div id="chartContainer" style="width: 100%; height: 360px;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            
                                        </div>
                                        
                                        <div class="row">
                                            <div class="d-flex col-lg-6">
                                                <div class="flex-fill w-100 card">
                                                    <div class="card-header" style="position:sticky !important;">
                                                        
                                                        <h3 class="card-title align-items-start flex-column">
                                                            <span class="card-label  text-gray-800 fs-2" style="font-weight:bolder;">Passagers par Origine</span>
                                                            <span class="text-gray-400  mt-2 fs-6" style="font-weight:semibold;">890,344 Passagers</span>
                                                        </h3>
            
                                                        <div class="dropdown" style="float:right;">
                                                            
                                                            <div class="input-group ">
                                                            <div class="input-group-prepend">
                                                                <label class="input-group-text" for="selectMonth">Mois</label>
                                                            </div>
                                                            <select class="custom-select" id="selectMonth">
                                                                <option selected>Choose...</option>
                                                            </select>
                                                            </div>
                                                                
                                                        </div>
                                                    </div>
                                                    <div class="d-flex card-body">
                                                        <div class="align-self-center w-100">
                                                            <div id="chartContainer_3" style="width: 100%; height: 360px;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
            
                                            <div class="d-flex col-lg-6">
                                                <div class="flex-fill w-100 card">
                                                    <div class="card-header" style="position:sticky !important;">
                                                        
                                                        <h3 class="card-title align-items-start flex-column">
                                                            <span class="card-label  text-gray-800 fs-2" style="font-weight:bolder;">Passagers par Compagnie Aérienne</span>
                                                            <span class="text-gray-400  mt-2 fs-6" style="font-weight:semibold;">890,344 Passagers</span>
                                                        </h3>
            
                                                        <div class="dropdown" style="float:right;">
                                                            
                                                            <div class="input-group ">
                                                            <div class="input-group-prepend">
                                                                <label class="input-group-text" for="selectMonth">Mois</label>
                                                            </div>
                                                            <select class="custom-select" id="selectMonth">
                                                                <option selected>Choose...</option>
                                                            </select>
                                                            </div>
                                                                
                                                        </div>
                                                    </div>
                                                    <div class="d-flex card-body">
                                                        <div class="align-self-center w-100">
                                                            <div id="chartContainer_4" style="width: 100%; height: 360px;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
                
            {% endblock content %}
            
            {% block footer %}
            <!-- Main Footer -->
            <footer class="main-footer p-1">
            <div class="d-none d-sm-block float-right ">
                <strong class="text-center">&copy; 2023 <a href="https://phidia.fr">Phidia</a>.</strong> Tous droits réservés.
                <b>Version</b> 1.6.12 
            </div>
            <div class="info-footer-pnr">
                <div class="row d-flex align-items-center">
                <div class="col-md-2">
                    <strong class="text-primary">
                    <u>Total PNR:</u> 
                    <span class="request-pnr-counter">{{  pnr_count }}</span>
                    </strong>
                </div>
                <div class="col-md-10">
    
                    <div id="pagination"></div>
                    {% include "pagination.html" %}
                
                </div>
                <div>
                    <button 
                    type="button" 
                    class="btn btn-warning mr-2" id='ExcelUploadPnrList' 
                    style="padding: 0.1rem 0.5rem !important">
                    <i class="fa fa-upload text-white" data-toggle="tooltip" data-placement="top"  title="Exporter en CSV"></i>
                    <span class="text-white">To Excel</span>
                    </button>
                </div>
                </div>
            </div>
            </footer>
            {% endblock footer%}
    </div>
      <!-- ./wrapper -->

  

</body>
</html>
