{% extends "layout.html" %} {% block content %}
<div class="content-wrapper">
  <section class="content-header p-0">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6" style="margin: 20px 0 10px 50px">
          <h1 class="text-primary">Configurations</h1>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
         
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <i class="fa fa-wrench" style="font-size:30px;" aria-hidden="true"></i>
             <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav"> 
                  <a class="nav-item nav-link " href="{% url 'setting' %}"><h5>Générale</h5> </a>
                  
                  <a class="nav-item nav-link " href="{% url 'email_setting' %}"><h5>Email</h5></a>
                  
                  <a class="nav-item nav-link " href=" {% url 'parsing_setting' %} "><h5>Lecture de Fichier</h5></a>

                  <a class="nav-item nav-link active" href=" {% url 'test_parsing' %} "><h5>Test</h5></a>
                  
                  <a class="nav-item nav-link " href=" {% url 'ftp_setting' %} "><h5>FTP</h5></a>
                </div>
            </div>
          </nav>
          <div class="col-12" style="margin:30px 0 0 10px;">
            <div class="col-12" style="margin:30px 0 0 10px;">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                  
                  <li class="nav-item">
                      <a class="nav-link active" id="pills-testparsing-tab" data-toggle="pill" href="#pills-testparsing" role="tab" aria-controls="pills-testparsing" aria-selected="false"><h5>Parsing Test</h5></a>
                  </li>
                </ul>
            </div>

            <div class="tab-content" id="pills-tabContent" style="margin:30px 0 0 10px;">
                <div class="tab-pane fade show active" id="pills-testparsing" role="tabpanel" aria-labelledby="pills-testparsing-tab">
                    <div>
                        <select class="form-control col-md-3" id="SelectTypeParsing" >
                            <option value="">Que voulez-vous tester?</option>
                            <option value="pnr">PNR</option>
                            <option value="tkt">TKT</option>
                            <option value="tst">TST</option>
                            <option value="ewa">Zénith/EWA</option>
                            <option value="rd">Reçu dossier</option>

                        </select>
                    </div>

                    <div class="row col-md-8" style="margin-top:20px;" id="input_file" hidden>
                        <input type="file" id="fileInput" name="file" class="form-control col-md-7" style="padding:2px;" />
                        <button type = "button" id="fileUploadButton" class="btn btn-success" style="margin-left:10px;">Tester</button>
                    </div>
    
                    <div class="row col-md-8" style="margin-top:20px;" id="textarea" hidden>
                        <textarea type="text" name="file" class="form-control z-depth-1 col-md-7"  rows="7" style="padding:2px; " ></textarea>
                        <button type = "button" class="btn btn-success h-25" style="margin:119px 0 0 10px;">Tester</button>
                    </div>

                    <div class="w-100 " style="background-color:black;height:200px;margin-top:20px;" id="console" hidden>
                        <div style="padding:10px;">
                            <h4 style="color:red">Erreur !!!!</h4>
                        </div>
                    </div>
                </div>

                
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>
</div>
{% endblock content %}