{% extends "layout.html" %}
{% block content %}
<div class="content-wrapper">
  <section class="content-header p-0">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="text-primary">Configurations</h1>
        </div>
        <!--div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Retour</li>
          </ol>
        </div-->
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row ">
        <div class="col-12">
          <div class="card card-primary card-outline">
            <div class="card-body">
              <div class="row">
                <div class="col-5 col-sm-3">
                  <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist"
                    aria-orientation="vertical">
                    <a class="nav-link active" id="vert-tabs-home-tab" data-toggle="pill" href="#vert-tabs-home"
                      role="tab" aria-controls="vert-tabs-home" aria-selected="true">Upload vers Odoo</a>
                    <a class="nav-link" id="vert-tabs-profile-tab" data-toggle="pill" href="#vert-tabs-profile"
                      role="tab" aria-controls="vert-tabs-profile" aria-selected="false">Export list des clients</a>
                    <a class="nav-link" id="vert-tabs-messages-tab" data-toggle="pill" href="#vert-tabs-messages"
                      role="tab" aria-controls="vert-tabs-messages" aria-selected="false">Source PNR XML</a>
                  </div>
                </div>
                <div class="col-7 col-sm-9">
                  <div class="tab-content" id="vert-tabs-tabContent">
                    <div class="tab-pane text-left fade show active" id="vert-tabs-home" role="tabpanel"
                      aria-labelledby="vert-tabs-home-tab">
                      <div class="row justify-content-center">
                        <div class="col-6">
                          <h4 class="text-primary">Configuration de l'accès au serveur FTP</h4>
                          <h6 class="text-primary"><u>Upload vers Odoo</u></h6>
                          <form class="">
                            <div class="mb-2">
                              <label class="form-label">Hôte:</label>
                              <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="mb-2">
                              <label class="form-label">Port:</label>
                              <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="mb-2">
                              <label class="form-label">utilisateur:</label>
                              <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="mb-2">
                              <label class="form-label">Mot de passe:</label>
                              <input type="password" class="form-control" placeholder="">
                            </div>
                            <div class="mb-4">
                              <label class="form-label">Dossier:</label>
                              <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="row mb-2 text-end">
                              <div class="col-12">
                                <button type="submit" id="edit" class="btn btn-outline-success">
                                  <i class='fas fa-sync-alt fa-spin'></i> 
                                    Tester la connexion</button>
                                <button type="button" class="btn btn-outline-primary"><i
                                    class="fas fa-save"></i>
                                    Enregistrer</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="vert-tabs-profile" role="tabpanel"
                      aria-labelledby="vert-tabs-profile-tab">
                      <div class="row justify-content-center">
                        <div class="col-6">
                          <h4 class="text-primary">Configuration de l'accès au serveur FTP</h4>
                          <h6 class="text-primary"><u>Export liste des clients</u></h6>
                          <form class="">
                            <div class="mb-2">
                              <label class="form-label">Hôte:</label>
                              <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="mb-2">
                              <label class="form-label">Port:</label>
                              <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="mb-2">
                              <label class="form-label">utilisateur:</label>
                              <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="mb-2">
                              <label class="form-label">Mot de passe:</label>
                              <input type="password" class="form-control" placeholder="">
                            </div>
                            <div class="mb-4">
                              <label class="form-label">Dossier:</label>
                              <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="row mb-2 text-end">
                              <div class="col-12">
                                <button type="submit" id="edit" class="btn btn-outline-success">
                                  <i class='fas fa-sync-alt fa-spin'></i> 
                                    Tester la connexion</button>
                                <button type="button" class="btn btn-outline-primary"><i
                                    class="fas fa-save"></i>
                                    Enregistrer</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="vert-tabs-messages" role="tabpanel"
                      aria-labelledby="vert-tabs-messages-tab">
                      <div class="row justify-content-center">
                        <div class="col-6">
                          <h4 class="text-primary">Configuration de l'accès au serveur FTP</h4>
                          <h6 class="text-primary"><u>Source PNR XML</u></h6>
                          <form class="">
                            <div class="mb-2">
                              <label class="form-label">Hôte:</label>
                              <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="mb-2">
                              <label class="form-label">Port:</label>
                              <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="mb-2">
                              <label class="form-label">utilisateur:</label>
                              <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="mb-2">
                              <label class="form-label">Mot de passe:</label>
                              <input type="password" class="form-control" placeholder="">
                            </div>
                            <div class="mb-4">
                              <label class="form-label">Dossier:</label>
                              <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="row mb-2 text-end">
                              <div class="col-12">
                                <button type="submit" id="edit" class="btn btn-outline-success">
                                  <i class='fas fa-sync-alt fa-spin'></i> 
                                    Tester la connexion</button>
                                <button type="button" class="btn btn-outline-primary"><i
                                    class="fas fa-save"></i>
                                    Enregistrer</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}