<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Upload CSV File</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        font-family: "Roboto", sans-serif;
        background-color: #f9f9f9;
        margin: 0;
      }
      .content {
        background-color: #fff;
        padding: 20px;
        max-width: 1200px;
        margin: 50px auto;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
      }
      h2 {
        color: #333;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <h2 class="text-lg font-bold">
        Envoi des Fichiers CSV pour le Traitement des Remboursements
      </h2>
      <p class="text-sm mt-3 mb-3">
        Pour soumettre un fichier CSV contenant les détails des remboursements,
        téléchargez votre fichier, puis cliquez sur "Envoyer le Fichier pour
        Traitement".
      </p>
      <form id="uploadForm" method="post" enctype="multipart/form-data">
        {% csrf_token %} {{ form.file_upload }} {% if form.errors %}
        <div class="error-message text-red-600">{{ form.errors.erreur }}</div>
        {% endif %}
        <button
          type="button"
          id="uploadButton"
          class="mt-4 mb-3 bg-blue-600 hover:bg-blue-500 px-3 py-2 text-white text-sm rounded-lg w-full hidden"
        >
          Envoyer le Fichier pour Traitement
        </button>
      </form>
      <div class="notifications my-3 flex gap-2">
        <div
          class="panel-success text-sm bg-green-50 text-green-500 rounded-md px-3 py-2 hidden"
        ></div>
        <div
          class="panel-error text-sm bg-red-50 text-red-500 rounded-md px-3 py-2 hidden"
        ></div>
        <div
          class="panel-info text-sm bg-blue-50 text-blue-500 rounded-md px-3 py-2 hidden"
        ></div>
      </div>
      <div class="table-container overflow-auto max-h-[300px]">
        <table class="table-auto w-full text-sm text-left text-gray-500">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 sticky top-0">
            <tr>
              <th scope="col" class="px-6 py-3">ID</th>
              <th scope="col" class="px-6 py-3">Numéro PNR</th>
              <th scope="col" class="px-6 py-3">Numéro de billet</th>
              <th scope="col" class="px-6 py-3">Montant</th>
              <th scope="col" class="px-6 py-3">Date d'émission</th>
              <th scope="col" class="px-6 py-3">Émetteur</th>
              <th scope="col" class="px-6 py-3">Remonté dans gestion PNR</th>
            </tr>
          </thead>
          <tbody id="tableBody"></tbody>
        </table>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/js/upload.js"></script>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const fileUploadInput = document.getElementById("id_file_upload");
      const uploadButton = document.getElementById("uploadButton");

      const panelSuccess = document.querySelector(".panel-success");
      const panelError = document.querySelector(".panel-error");
      const panelInfo = document.querySelector(".panel-info");
      const tableBody = document.getElementById("tableBody");

      fileUploadInput.value = ""

      fileUploadInput.addEventListener("change", () => {
        uploadButton.classList.remove("hidden");
        uploadButton.classList.add("block");
      });

      uploadButton.addEventListener("click", function () {
        const form = document.getElementById("uploadForm");
        const formData = new FormData(form);

        uploadButton.classList.add("bg-green-600");
        uploadButton.classList.remove("bg-blue-600");
        uploadButton.textContent = "Traitement en cours...";

        axios
          .post("/upload-csv", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then(handleResponse)
          .catch(handleError);
      });

      function handleResponse(response) {
        const { pnr_exists, pnr_not_found, occurence_ticket_refund_existing } =
          response.data;

        showNotification(
          panelSuccess,
          `${occurence_ticket_refund_existing.exist} remboursements ont été remontées dans gestion PNR`
        );
        showNotification(
          panelError,
          `${occurence_ticket_refund_existing.not_exist} PNR non remontées dans gestion PNR`
        );
        showNotification(
          panelInfo,
          `${pnr_not_found.length} PNR ne se trouve pas encore sur gestion PNR`
        );

        fileUploadInput.value = "";
        uploadButton.classList.add("hidden");
        uploadButton.classList.remove("block");

        populateTable(pnr_exists);

        resetUploadButton();
      }

      function handleError(error) {
        console.error("Error:", error);
      }

      function showNotification(element, message) {
        element.textContent = message;
        element.classList.remove("hidden");
      }

      function populateTable(data) {
        tableBody.innerHTML = data
          .map(
            (item, index) => `
        <tr class="bg-white border-b">
          <td class="px-6 py-2">${index + 1}</td>
          <td class="px-6 py-2">${item.pnr.number}</td>
          <td class="px-6 py-2">${item.ticket.number}</td>
          <td class="px-6 py-2">${item.ticket.total}</td>
          <td class="px-6 py-2">${item.ticket.issuing_date}</td>
          <td class="px-6 py-2">${item.ticket.emitter.username || ""}</td>
          <td class="px-6 py-2">${
            item.ticket.is_ticket_refund_exist
              ? `<span class="bg-green-100 px-2 py-1 rounded-md text-sm">Oui</span>`
              : `<span class="bg-red-100 px-2 py-1 rounded-md text-sm">Non</span>`
          }</td>
        </tr>
      `
          )
          .join("");
      }

      function resetUploadButton() {
        uploadButton.classList.remove("bg-green-600");
        uploadButton.classList.add("bg-blue-600");
        uploadButton.textContent = "Envoyer le Fichier pour Traitement";
      }
    });
  </script>
</html>
