<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Upload CSV File</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <script src="https://cdn.tailwindcss.com"></script>

    <style>
      body {
        font-family: "Roboto", sans-serif;
        background-color: #f9f9f9;
        margin: 0;
      }
      .content {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: auto;
        min-width: 300px;
        text-align: center;
      }
      h2 {
        color: #333;
        margin-bottom: 20px;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
      }
      input[type="file"] {
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <div class="form-content">
        <h2>Upload CSV File</h2>
        <form id="uploadForm" method="post" enctype="multipart/form-data">
          {% csrf_token %} {{ form.file_upload }} {% if form.errors %}
          <div class="error-message">{{ form.errors.erreur }}</div>
          {% endif %}
          <button type="button" id="uploadButton" class="bg-blue-600 hover:bg-blue-500 px-3 py-2 text-white text-sm rounded-lg">Upload</button>
        </form>
      </div>

      <div class="panel flex gap-2 mb-3">
        <div class="panel-success text-sm bg-green-50 text-green-500 rounded-md px-3 py-2"></div>
        <div class="panel-error text-sm bg-red-50 text-red-500 rounded-md px-3 py-2"></div>
        <div class="panel-info text-sm bg-blue-50 text-blue-500 rounded-md px-3 py-2"></div>
      </div>

      <div class="table" style="width: 100%"></div>
    </div>

    <!-- Include Axios library -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const fileUploadInput = document.getElementById("id_file_upload");
        const uploadButton = document.getElementById("uploadButton");

        fileUploadInput.value = "";

        uploadButton.addEventListener("click", function () {
          const form = document.getElementById("uploadForm");
          const formData = new FormData(form);

          const panelSuccess = document.querySelector(".panel-success");
          const panelError = document.querySelector(".panel-error");
          const panelInfo = document.querySelector(".panel-info");
          const panel = document.querySelector(".panel");

          const table =  document.querySelector(".table")

          formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");

          axios
            .post("/upload-csv", formData, {
              headers: {
                "Content-Type": "multipart/form-data",
              },
            })
            .then(function (response) {
              console.log(response.data); // Log the response to console (for debugging)
              // Handle the JSON response (update UI, show messages, etc.)
              if (response.status === 200) {
                const { pnr_exists, pnr_not_found, occurence_ticket_refund_existing } = response.data;

                if (fileUploadInput.value != "") {
                  panel.style.display = "flex";
                }

                fileUploadInput.value = "";
                
                panelSuccess.textContent = `${occurence_ticket_refund_existing.exist} remboursements ont été remontées dans gestion PNR`;
                panelError.textContent = `${occurence_ticket_refund_existing.not_exist} PNR non remontées dans gestion PNR`;
                panelInfo.textContent = `${pnr_not_found.length} PNR ne se trouve pas encore sur gestion PNR`;

                // Table populating
                const template = `
                <div class="relative">
                  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                      <tr>
                        <th scope="col" class="px-6 py-3">ID</th>
                        <th scope="col" class="px-6 py-3">Numéro PNR</th>
                        <th scope="col" class="px-6 py-3">Numéro de billet</th>
                        <th scope="col" class="px-6 py-3">Montant</th>
                        <th scope="col" class="px-6 py-3">Date d'émission</th>
                        <th scope="col" class="px-6 py-3">Émetteur</th>
                        <th scope="col" class="px-6 py-3">Remonté dans gestion PNR</th>
                      </tr>
                    </thead>
                    <tbody>
                      ${pnr_exists.map((data, index) => `
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                          <td class="px-6 py-2">${index + 1}</td>
                          <td scope="row" class="px-6 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            ${data.pnr.number}
                          </td>
                          <td class="px-6 py-2">${data.ticket.number}</td>
                          <td class="px-6 py-2">${data.ticket.total}</td>
                          <td class="px-6 py-2">${data.ticket.issuing_date}</td>
                          <td class="px-6 py-2">${data.ticket.emitter.username ? data.ticket.emitter.username : ''}</td>
                          <td class="px-6 py-2">${data.ticket.is_ticket_refund_exist ? `<span class="bg-green-100 px-2 py-1 rounded-md text-sm">Oui</span>` : `<span class="bg-red-100 px-2 py-1 rounded-md text-sm">Non</span>` }
                        </tr>
                      `).join('')}
                    </tbody>
                  </table>
                </div>
              `;

                console.table(template)

                table.innerHTML = template
              }
            })
            .catch(function (error) {
              console.error("Error:", error); // Log the error to console (for debugging)
              // Handle errors or display error message
            });
        });
      });
    </script>
  </body>
</html>
