user-details.html

{% extends "layout-all-pnr.html" %}
{% block content %}
<div class="content-wrapper" >
  <section class="content-header p-0" style="margin-top: 8rem;">
    <div class="container-fluid" style="padding-top: 0.75rem;">
      <div class="row">
        <div class="col-sm-6">
          <h1 class="text-primary">Gestion utilisateurs</h1>
        </div>
        <div class="col-sm-6">
          <a class="btn btn-outline-success float-sm-right mt-1 mr-2 mb-1" href="{% url 'register' %}"><i class="fas fa-plus"></i>
            Ajouter un utilisateur
          </a>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row ">
        <div class="col-12">
          <div class="card {% if not user.is_active %} card-warning {% endif %} card-primary card-tabs">
            <div class="card-header p-0 pt-1">
                <div class="col text-right" style="margin-bottom:1rem;">
                  {% if user.is_active%}
                    <a class="btn btn-danger " title='Archiver {{user.name}}' type="button" data-toggle="modal" 
                      data-target="#modalArchive" data-user-name="{{user.name}}" data-user-first-name="{{user.first_name}}" 
                      data-action="archive" data-user="{{user.id}}" data-connected-user="{{request.user.id}}" id="archive_user" >
                      <b>Archiver</b>
                    </a>
                  {% else %}
                  <a class="btn btn-danger " title='Réactiver {{user.name}}' type="button" data-toggle="modal" 
                    data-target="#modalArchive" data-user-name="{{user.name}}" data-user-first-name="{{user.first_name}}" 
                    data-action="reactive" data-user="{{user.id}}" data-connected-user="{{request.user.id}}" id="reactive_user" >
                    <b>Réactiver</b>
                  </a>
                  {% endif %}
                    
                </div>
                
                <div class="col text-center align-items-center">
                    <h3 class="profile-username"><i class="fas fa-user-circle fa-2x"></i></h3>
                    <h3 class="profile-username">{{user.username}}</h3>
                </div>

                
            </div>
            <div class="card-body">
                <div class="card card-primary card-outline px-4 w-50">
                    <div class="box-body box-profile">
                      <input type="hidden" id="user_id" value="{{user.id}}" />
                      
                      <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                          <b>Nom:</b> <a class="pull-right" id="user_name_label">{{user.name}}</a>
                          <input type="text" class="form form-control w-50" id="user_name_update" required hidden/>
                            
                        </li>
                        <li class="list-group-item">
                          <b>Prénom:</b> <a class="pull-right" id="user_first_name_label" >{{user.first_name}}</a>
                          <input type="text" class="form form-control w-50" id="user_first_name_update" required hidden/>
                        </li>
                        <li class="list-group-item">
                          <b>Email:</b> <a class="pull-right" id="user_email_label" >{{user.email}}</a>
                          <input type="text" class="form form-control w-50" id="user_email_update" required hidden/>
                        </li>
                        <li class="list-group-item mb-2">
                            <b>Role:</b> <a class="pull-right" id="user_role_label" >{{user.role}}</a>
                            <div class="form-group w-50" hidden id="user_role_update">
                                <select class="form-control form-control select-type" id="customer-type-int-input" required>
                                    {% for role in roles %}
                                        <option value="{{role.id}}">{{role.name}}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </li>
                      </ul>
                        <div class="row" style="display:flex; justify-content: space-between;margin-bottom:1rem;color:#007bff">
                            <a class="btn btn-dark " data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" id="UpdatePwdButton"><b>Modifier le mot de passe</b></a>
                            <a class="btn btn-danger" hidden id="Cancel_update_info"><b>Annuler</b></a>
                            <a class="btn btn-dark " id="update_info"><b>Modifier le profil</b></a>
                            <a class="btn btn-success" hidden id="confirm_update_info"  data-toggle="modal" data-target="#modalConfirmUpdate" data-action="update_info" data-user="{{user.id}}" data-connected-user="{{request.user.id}}"><b>Confirmer</b></a>
                        </div>
                      
                
                      <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                          <label>Mot de passe actuel:</label>
                          <div class="input-group mb-3">
                            <input type="password" class="form-control" id="current-password" placeholder="" name="current-password">
                            <span class="fas fa-eye" id="show-current-password" style="cursor: pointer;"></span>
                            <div class="input-group-append">
                              <div class="input-group-text" >
                                <span class="fas fa-lock"></span>
                              </div>
                            </div>
                          </div>
                          <label>Nouveau mot de passe:</label>
                          <div class="input-group mb-3">
                            <input type="password" class="form-control" id="new-password" placeholder="" name="new-password">
                            <span class="fas fa-eye" id="show-new-password" style="cursor: pointer;"></span>
                            <div class="input-group-append">
                              <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                              </div>
                            </div>
                          </div>
                          <div class="row" style="display:flex; justify-content: space-between;">
                            <button type="button" class="btn btn-danger md-block" onclick="closeCollapse()">Annuler</button>
                            <button type="button" class="btn btn-success md-block" id="ConfirmNewPassword" data-toggle="modal" data-target="#modalConfirmUpdate" data-action="update_password" data-user="{{user.id}}" data-connected-user="{{request.user.id}}">Confirmer</button>
                          </div>
                          
                        </div>
                      </div>
                    </div>
        
                  </div>
            </div>

            <a class="btn btn-primary"  href="{% url 'users' %}" style="width:100px;margin:0 0 10px 10px;" title='Retour' type="button"  id="reactive_user" >
              <b>Retour</b>
            </a>
            <!-- /.card -->
          </div>
        </div>
      </div>
  </section>
</div>

<div class="modal fade show" id="modalArchive" style="display: none;" aria-modal="true" role="dialog">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modalTitle"></h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<span>
					Voulez-vous vraiment  
					<span id="user_name" style="color:#007bff;"></span> ?
				</span>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
				<button type="button" class="btn btn-success" id="ConfirmArchive" data-dismiss="modal"  data-toggle="modal" data-action="archive" data-target="#modalConfirmUpdate" data-user="{{user.id}}" data-connected-user="{{request.user.id}}">Archiver
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade show" id="modalConfirmUpdate" style="display: none;" aria-modal="true" role="dialog">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Modifier informations</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<span>Veuillez entrer votre mot de passe</span>
				<input type="password" class="form form-control w-50" id="password" required />
				<input type="hidden" id="action" />
				<input type="hidden" id="connected_user" />
				<input type="hidden" id="user" />


			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
				<button type="button" class="btn btn-success" id="UpdateInfo" data-dismiss="modal">Confirmer
				</button>
			</div>
		</div>
	</div>
</div>
{% endblock content %}