{% extends 'layout-all-pnr.html' %}
{% load pnr_comments %}
{% block content %}
<div class="content-wrapper">
    <section class="content" style="margin-top: 2rem">
      <div class="container-fluid">
        <div class="row ">
          <div class="col-12">
            <div class="card card-primary card-outline" style="margin-top: 1rem !important;">
              <div class="" style="padding:1rem;">
                <div class="row">
                  <div class="col-md-6 float-left">
                  <h4 class="text-primary title-all-pnr mt-1 mb-0">Billet non remonté</h4>
                  </div>
                  <div class="col-md-6 float-right">
                  <div class="input-group input-group float-sm-right mt-1 mb-1" style="width: 150px;">
                    <input type="text" name="table_search" id="input-constat" class="form-control form-control-sm"
                      placeholder="Recherche">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default py-0">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
                </div>
              </div><hr>
              
              {% anomaly_state as anomaly_state %}
              {% comment %} <div class="row d-flex" style="justify-content:space-between !important;">
                <div class="d-flex mt-4" style="gap: 2rem; margin-left: 4rem !important">
                  <a class="btn btn-outline-success" data-toggle="modal" data-target="#modalCategory" ><i class="fas fa-plus"></i>
                    Ajouter une catégorie
                  </a>
                </div>
                
                <div class="d-flex mt-4" style="gap: 2rem; margin-right: 4rem !important; float:right !important;">
                  
                    <span class="px-2 py-1 bg-green">Traitée : {{anomaly_state.false}} </span>
                    <span class="px-2 py-1 bg-red">Non traitée : {{anomaly_state.true}} </span>
                  
                </div>
              </div> {% endcomment %}
              
              <div class="card-body">
                <form method='POST' action=''>
                  {% csrf_token %}
                      <div class="table-adapted-to-screen-height card-body table-responsive p-0">
                        <table class="table table-bordered table-head-fixed text-nowrap all-comment" id="tableAnomaly">
                          <thead class="bg-info">
                            <tr>
                              <th width="5%" class="text-white">PNR</th>
                              <th width="20%" class="text-white">Catégorie</th>
                              <th width="10%" class="text-white">N° Billet</th>
                              <th width="10%" class="text-white">Montant total</th>
                              <th width="7%" class="text-white">Date d'anomalie</th>
                              <th width="8%" class="text-white">Signalée par</th>
                              <th width="5%" class="text-white">Statut</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for anomalie in page_obj %}
                              <tr class="constat-class" onclick="location.href='{% url 'anomaly_details' anomalie.pnr_id %}'" style="cursor: pointer;">

                                    <td>{{anomalie.pnr.number }}</td>
                                    <td>{{anomalie.categorie}}</td>
                                    <td>{{anomalie.infos.ticket_number}}</td>
                                    <td>{{anomalie.infos.montant|add:anomalie.infos.taxe|default_if_none:0 }}</td>
                                    <td>{{anomalie.creation_date| correct_datetime}}</td>
                                    <td>{{anomalie.issuing_user.username}}</td>
                                    
                                    {% if anomalie.status == 0 %}
                                        <td><button class="btn btn-danger py-0" name="anomaly_state">Non Traitée</button></td>
                                    {% endif %}
                                    {% if anomalie.status == 2 %}
                                        <td><button class="btn btn-primary py-0" name="anomaly_state">Refusée</button></td>
                                    {% endif %}
                                    {% if anomalie.status == 1 %}
                                        <td><button class="btn btn-success py-0" name="anomaly_state" >Traitée</button></td>
                                    {% endif %}
                                    
                                </tr>
                            {% endfor %}
                                
                          </tbody>
                        </table>
                      </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </section>

    <div class="modal fade show" id="modalCategory" style="display: none;" aria-modal="true" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" >Ajouter une Categorie</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Nom</label>
              <input type="text" class="form-control" id="category_name" placeholder="...">
            </div>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-success" id="addCategory" >Ajouter
            </button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
{% endblock content %}