{% load ticket_segments %}
<div class="modal-header py-0">
	<h5 class="modal-title">PNR n°: {{ pnr }}</h5>
	<div class="d-flex justify-content-between" id="info-price">
		<p class="modal-p">
			<span class="modal-span">TOTAL HORS TVA:</span> {{ 0|floatformat:'2' }} EUR
		</p>
		<p class="modal-p">
			<span class="modal-span">TVA / SCE FEES:</span> {{ 0|floatformat:'2' }} EUR
		</p>
		<p class="modal-p text-primary">
			<span class="modal-span">TOTAL:</span> {{ pnr.invoice.detail.total|floatformat:'2' }} EUR
		</p>
	</div>
	<button type="button" class="btn-close" data-mdb-dismiss="modal"
		aria-label="Close"></button>
</div>
<div class="row">
	<div class="col-md-4 px-4 py-2">
		<h4 class="text-primary py-0">Passagers</h4>
		{% for passenger in passengers %}
		<div class="mb-2">
			<p class="passagers">({{ passenger.passenger.order }})
				 {{ passenger.passenger }}</p>
		</div>
		{% endfor %}
	</div>
	<div class="col-md-8 px-4 py-2">
		<fieldset>
			<h4 class="text-primary mx-2">Détails de la facture</h4>
			<div class="row mb-0 px-4 py-0">
				<div class="col-md-4 p-0">
					<p class="modal-p">
						<span class="modal-span">Emmission:</span>
					</p>
					<p class="modal-p">
						<span class="modal-span">Suivi par:</span>
					</p>
				</div>
				<div class="col-md-3 p-0">
					<p class="modal-p">
						<span class="modal-span">Réf. Cde:</span>
					</p>
					<p class="modal-p">
						<span class="modal-span">Echéance:</span>
					</p>
				</div>
				<div class="col-md-3 p-0">
					<p class="modal-p">
						<span class="modal-span">Date d'émission:</span>
					</p>
					<p class="modal-p">
						<span class="modal-span">Doit(client):</span>
					</p>
					<p class="modal-p">
						<span class="modal-span">Contact:</span>
					</p>
				</div>
				<div class="col-md-2 p-0 text-end">
					<button type="submit" id="edit" class="btn btn-primary mb-2">
						<i class="fas fa-edit"></i> Modifier
					</button>
					<button type="button" class="btn btn-success">
						<i class="fas fa-save"></i> Valider
					</button>
				</div>
			</div>
		</fieldset>
	</div>
</div>
<div class="row d-flex justify-content-center align-items-center">
	<div class="col-md-12 px-4">
		<h6 class="text-primary">Information de vols: (PNR Air segement)</h6>
		<div class="table-responsive">
			<table class="table table-bordered table-hover align-middle" id="list-users"
				width="100%" cellspacing="0">
				<thead>
					<tr class="bg-info">
						<th width="10%">Segment</th>
						<th width="10%">Vols</th>
						<th width="20%">Départ</th>
						<th width="20%">Arrivée</th>
						<th>Date et heure de départ</th>
						<th>Date et heure d'arrivée</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for segment in air_segments %}
					<tr>
						<td>{{ segment.segmentorder }}</td>
						<td>{{ segment }}</td>
						<td>{{ segment.codeorg.name }}({{ segment.codeorg.iata_code }})</td>
						<td>{{ segment.codedest.name }}({{ segment.codedest.iata_code }})</td>
						<td>{{ segment.departuretime }}</td>
						<td>{{ segment.arrivaltime }}</td>
						<td style="text-align: center;">
						<!--a class="btn btn-primary"
							id="infomation-vols" href="#" data-mdb-toggle="modal"
							data-mdb-target="#info-vols" title="Voir"> <i
								class="fas fa-eye"></i> Voir
						</a-->
						<a class="btn btn-primary" href="#" title="Voir"> <i class="fas fa-eye"></i> Voir</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-12 p-4">
		<h6 class="text-primary">Billets et frais</h6>
		<!--a class="btn btn-primary" id="add-line" data-mdb-toggle="modal"
			data-mdb-target="#add-ticket"><i class="fa fa-plus"
			aria-hidden="true"></i> Ajouter une ligne</a-->
		<div class="table-responsive">
			<table class="table table-bordered table-hover align-middle" id="list-users"
				width="100%" cellspacing="0">
				<thead>
					<tr class="bg-info">
						<th>Billet</th>
						<th>Désignation/Usager</th>
						<th>Transport</th>
						<th>Taxe</th>
						<th>Total</th>
						<th width="10%">Passager/Segment(s)</th>
						<th>Statut</th>
						<th>Référence</th>
						<th width="10%">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for ticket in tickets %}
					<tr>
						<td>{{ ticket }}</td>
						<td>{{ ticket.passenger }}<br>{{ ticket.id|route }}
						</td>
						<td>{{ ticket.transport_cost }}</td>
						<td>{{ ticket.tax }}</td>
						<td>{{ ticket.total }}</td>
						<td>{{ ticket.passenger.order }}/{{ ticket.id|segment }}</td>
						<td>{{ '' }}</td>
						<td>{{ '' }}</td>
						<td style="text-align: center;">
						<!--a class="btn btn-primary"
							href="#" data-mdb-toggle="modal" id="edit-line"
							data-mdb-target="#edit-ticket" title="Modifier"> <i
								class="fas fa-eye"></i> Voir
						</a-->
						<a class="btn btn-primary"
							href="#" title="Voir"> <i
								class="fas fa-eye"></i> Voir
						</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
