.hotelselect {
    position: relative;
  }
  .select-css {
    display: block;
    font-size: 1em;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: 0.6em 1.4em 0.5em 0.8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 0.25em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    position: relative;
    z-index: 10;
  }
  .select-css::-ms-expand {
    display: none;
  }
  .select-css:hover {
    border-color: #888;
  }
  .select-css:focus {
    border: 2px dashed rgb(69, 182, 219);
    color: #222;
    outline: none;
  }
  .custom-select-icons {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    z-index: 20;
    border: 1px solid white;
    background: transparent;
  }
  .hotel-supplier-options {
    border: 1px solid #aaa;
    border-radius: 0 0 0.25em 0.25em;
    line-height: 1.5;
    margin: 0;
    margin-top: -0.5em;
    padding: 0;
    list-style-type: none;
    font-weight: normal;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    width: calc(100% - 1px);
    background-color: #ffffff;
  }
  .hotel-supplier-options li {
    padding: 1em;
  }
  .hotel-supplier-options li:hover {
    background: rgb(69, 182, 219);
    color: #fff;
    border: 1px solid rgb(69, 182, 219);
    border-width: 0 0 0 1px;
  }
  
  .hotel-supplier-options li:focus {
    border: 1px solid rgb(69, 182, 219);
  }
  .icon {
    fill: ButtonText;
    pointer-events: none;
  }
  @media screen and (-ms-high-contrast: active) {
    .icon {
      fill: ButtonText;
    }
  }
  .hidden-all {
    display: none;
  }
  .hidden-visually {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
  }
  