
  .badge-container {
    position:relative;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
  }
  .badge-num {
    box-sizing:border-box;
    font-family: 'Trebuchet MS', sans-serif;
    background: #0099FF;
    cursor:pointer;
    border-radius: 50%;
    color: #fff;
    font-weight:bold;
    font-size: 9px;
    padding: 1px;
    height: 17px;
    line-height:1.55em;
    top:-9px;
    right:-11px;
    border:2px solid #fff;
    position: absolute;
    text-align: center;
    width: 17px;
    box-shadow: 1px 1px 5px rgba(0,0,0, .2);
    animation: pulse 1.5s 1;
  }
  .badge-num:after {
    content: '';
    position: absolute;
    padding: 1px;
    top:-2px;
    left:-3px;
    border:1px solid rgba(0,155,243,.5);
    opacity:0;
    border-radius: 50%;
    width:18px;
    height:18px;
    animation: sonar 1.5s 1;
  }
  @keyframes sonar { 
    0% {transform: scale(.9); opacity:1;}
    100% {transform: scale(2);opacity: 0;}
  }
  @keyframes pulse {
    0% {transform: scale(1);}
    20% {transform: scale(1.4); }   
    100% {transform: scale(1);}
  }
  #badge-envelope :before {
    font-size:45px;
    text-decoration: none;
  }
  .icon-hover {
    color: fade(white, 40%);
    transition: color 500ms ease;
    cursor: pointer;
    
    &:hover {
      color: fade(white, 70%);
    }
  }

  @keyframes infiniteScroll {
    from {transform: translateX(0)}
    to {transform: translateX(-50%)}
  }
  .notifwrapper {
    width: 100%;
    overflow-x: hidden;
  }
  .scrolling-items {
    display: flex;
    font-size: 40px;
    width: 200px;
    margin-right: 3px;
    animation-name: infiniteScroll;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .scrolling-items__item {
    white-space: nowrap;
  }