* {
	font-size: 14px;
}

@font-face {
	font-family: SctoGroteskA;
	src: url("../font/SctoGroteskA-Regular.ttf");
}

@import url('https://fonts.cdnfonts.com/css/roboto');

html, body {
	font-family: 'Roboto', sans-serif !important;
}

/* @font-face {
	font-family: Calibri;
	src: url("../font/Calibri.ttf");
} */


body {
	background: url(../image/fond.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.custom-transition {
	animation: customAnimation linear 0.3s;
}

@keyframes customAnimation {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

.date-class{
	font-family:"Calibri";
	font-size: 12px;
}
.pnr-num-class{
	font-family:"Consolas" !important;
	font-size: 12px;
}
.content-logo {
	border-bottom: 1px solid #4f5962;
}
.logo {
	width: 60px;
}
#nt {
	width: 50px;
  }
#np {
	width: 50px;
  }
#nlbe {
	width: 50px;
  }
#nlse {
	width: 50px;
  }
.zenith{
	margin-top: 10px;
}  
#mail-user {
	position: absolute;
	left: -1000px;
	top: -1000px;
	font-size: 1px;
  }
.value_page{
	position:relative;
	cursor:text;
	background: none;
	border:none;
	text-align: right;
}
.value_page:focus{
	text-decoration: underline;
}
.count_page{
	position:relative;
	cursor:text;
	background: none;
	border:none;
	text-align: left;
	background: none !important;
}
.validate_page{
	background: none !important;
	border: none !important;
	color: #007bff !important;
}
.validate_page:hover{
	background: none !important;
	border: none !important;
	color: #17a2b8 !important;
}
span.count{
	font-size: 12px;
}
.sm-height{
	height: 20px !important; 
    padding: 0 !important;
}  
.btn-sm-block{
	width: 100%;
}
.return {
	font-size: 20px;
}
.divider {
	border: solid 2px #17a2b8;
	padding: 1rem;
  }
#create-command{
	font-size: 12px;
}
#create-devis{
	font-size: 12px;
}
#edit{
	font-size: 12px;
}
#save{
	font-size: 12px;
}
#cancel{
	font-size: 12px;
}
input#fee-cost{
	line-height: 0;
	text-align: right;
	color: #000;
}
input#fee-cost::placeholder {
	color: #000;
  }
  
.inputeditable{
	position:relative;
	cursor:text;
	background: none;
	border:none;
	text-align: right;
	right: -0.15rem;
  }

.sticky-tr-table {
	position: sticky;
	top: 7rem;
}

.fixed-header {
	position: fixed;
	top: 66px;
	left: 0;
	width: 100%;
	background: white;
	z-index: 99;
  }
.tablesorter-sticky-visible{
	top: 35px !important;
}
.fixed-header .title-all-pnr{
	position: relative;
	margin-left: 18rem;
	} 
.filter{
	 list-style: none;
	}
.i-filter{
	border: 1px solid #fff;
}
.sidebar-collapse .fixed-header .title-all-pnr{
	position: relative;
	margin-left: 4.8rem;
	} 
.passagers-title {
	position: fixed;
	background-color: #f4f6f9;
	display: flex;
	width: 24%;
}
.all-passengers{
	margin-top: 2.5rem;
}			 
.passengers {
	height: 100px;
	overflow-y: auto;
}
.passagers{
	line-height: 0.5;
}

.pnr-details__passagers {
	display: flex;
    align-items: start;
    justify-content: space-between;
	margin-right: 1rem;
}

.passenger-name{
	font-size: 12px;
}
.a-link{
	font-size: 12px;
}
.details-span{
text-decoration: underline;
}
.contact{
	font-size: 12px;
}
.content-all-pnr {
	visibility: hidden;
}
#comment-state{
	font-size: 12px !important;
}
#comment span{
	font-size: 12px !important;
}
.all-btn{
	margin-top: -16px;
}
/*custom all table*/
.tablesorter-default td, .table th .tablesorter-header-inner {
	font-size: 12px !important;
}

.table td, .table th {
	font-size: 12px !important;
}

.table td, .table th span {
	font-size: 12px !important;
}

.table th, .table td {
	padding: 0.2rem !important;
}

.tablesorter-default {
	margin: 0px 0 0px !important;
}

tbody tr:nth-child(odd) {
	background-color: #f8f8f8;
}

tbody tr:nth-child(even) {
	background-color: #edecec;
}
table td.checkbox{
	text-align: center !important;
	vertical-align: middle !important;
}
#all-pnr tbody tr:focus {
	background-color: #046aae;
}
.filter{
	z-index: 9999;
}
/*
th {
	cursor: pointer;
}

#thead-all-pnr th::after {
	content: "\f0dc";
	font-family: FontAwesome;
	font-size: 12px;
	color: #ccc;
	right: 0;
	position: absolute;
	padding-right: 2px;
}

#thead-all-pnr th.asc::after {
	content: "\f0de";
	font-family: FontAwesome;
	color: rgb(20, 20, 20);
}

#thead-all-pnr th.desc::after {
	content: "\f0dd";
	font-family: FontAwesome;
	color: #000;
} */
#thead-all-pnr th {
	color: #fff;
  }

.container-comment {
	background-color: #2980b9;
	color: #fff;
	border-radius: 15px;
	padding: 10px 15px;
}

.container-response {
	background-color: #7f8c8d;
	color: #fff;
	border-radius: 15px;
	padding: 10px 15px;
}

.ticket thead{
	position: sticky;
	background: #17a2b8 !important;
}
.time-right {
	float: right;
	color: #aaa;
	margin-top: -15px;
}

.non-lue {
	font-weight: bold;
}

.lue {
	font-weight: normal;
}
.non-lue td {
	font-size: 11px !important;
  }
.hour {
	font-size: 12px;
}

.montant {
	float: right;
	font-size: 12px;
}

.billet {
	float: right;
	font-size: 12px;
}

.tr-add-line {
	background: none !important;
}

.tr-add-line td {
	border: none;
}

#show-password {
	position: absolute;
	right: 40px;
	top: 10px;
	z-index: 3;
}

#show-current-password {
	position: absolute;
	right: 40px;
	top: 10px;
	z-index: 3;
}

#show-new-password {
	position: absolute;
	right: 40px;
	top: 10px;
	z-index: 3;
}

.create-users {
	position: absolute;
	right: 15px;
}

.total-pnr {
	font-weight: bold;
}

.total-pnr p {
	font-size: 18px;
}

.nav-item.i {
	margin-top: -5px !important;
	margin-bottom: -5px !important;
}

.nav-item.i h6 {
	font-size: 12px;
}

.nav-item.i span {
	font-size: 12px;
}

/*btn signal*/
.right-constat{
	position: absolute;
	right: 10px;
	bottom: 5px;
}
/* .p-signal {
	position: absolute;
	right: 10px;
	bottom: -10px;
} */

.pnr-signal {
	width: 600px;
	height: 50px;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0px 12px 45px rgba(0, 0, 0, .15);
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: 0 0 10px 0;
	overflow: hidden;
	opacity: 0;
}

.pnr-signal.open {
	height: 400px;
	opacity: 1;
}

.pnr-signal.popup-ani {
	-webkit-transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.pnr-signal h1 {
	font-size: 20px;
	color: #757575;
	padding: 25px 0;
	margin: 0;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;

}

.pnr-signal .ba-logo {
	width: 65px;
	height: 25px;
	background-position: 0px;
	margin: 0 auto;
	opacity: .5;
	cursor: pointer;
}

.pnr-signal .ba-logo:hover {
	opacity: 1;
}

.logo-ani {
	transition: 0.5s linear;
	-webkit-transition: 0.5s linear;
}

.pnr-signal form {
	margin-bottom: 15px;
}

.pnr-signal-fab {
	border-radius: 30px;
	float: right;
	z-index: 5;
	position: relative;
	padding: 20px;
}

.pnr-signal-fab .wrap {
	transform: rotate(0deg);
	-webkit-transition: all .15s cubic-bezier(0.15, 0.87, 0.45, 1.23);
	transition: all .15s cubic-bezier(0.15, 0.87, 0.45, 1.23);
}

.pnr-signal-fab .ani {
	transform: rotate(45deg);
	-webkit-transition: all .15s cubic-bezier(0.15, 0.87, 0.45, 1.23);
	transition: all .15s cubic-bezier(0.15, 0.87, 0.45, 1.23);
}

.pnr-signal-wrap {
	position: fixed;
	right: 30%;
	bottom: 20%;
	z-index: 1000;
}

.ba-settings {
	position: absolute;
	top: -25px;
	right: 0px;
	padding: 10px 20px;
	background-color: #555;
	border-radius: 5px;
	color: #fff;
}

/*loading*/
.loading {
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	-o-animation: fadein 2s;
	animation: fadein 2s;
	
}

@-moz-keyframes fadein {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@-webkit-keyframes fadein {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@-o-keyframes fadein {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@keyframes fadein {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

.spinner-wrapper {
	min-width: 100% !important;
	min-height: 100% !important;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.93);
	display: none;
	z-index: 300;
}

.spinner-text {
	position: absolute;
	top: 46.5%;
	left: 52%;
	margin: 16px 0 0 35px;
	font-size: 10px;
	color: #BBB;
	letter-spacing: 1px;
	font-weight: 700
}

.spinner {
	margin: 0;
	display: block;
	position: absolute;
	left: 50%;
	top: 45%;
	border: 25px solid rgb(0, 124, 182);
	width: 1px;
	height: 1px;
	border-left-color: transparent;
	border-right-color: transparent;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	-webkit-animation: spin 1.5s infinite;
	-moz-animation: spin 1.5s infinite;
	animation: spin 1.5s infinite;
}

@-webkit-keyframes spin {
	0%, 100% {
		-webkit-transform: rotate(0deg) scale(1)
	}

	50% {
		-webkit-transform: rotate(720deg) scale(0.6)
	}
}

@-moz-keyframes spin {
	0%, 100% {
		-moz-transform: rotate(0deg) scale(1)
	}

	50% {
		-moz-transform: rotate(720deg) scale(0.6)
	}
}

@-o-keyframes spin {
	0%, 100% {
		-o-transform: rotate(0deg) scale(1)
	}

	50% {
		-o-transform: rotate(720deg) scale(0.6)
	}
}

@keyframes spin {
	0%, 100% {
		transform: rotate(0deg) scale(1)
	}

	50% {
		transform: rotate(720deg) scale(0.6)
	}
}
.sidebar-collapse .spinner {
	left: 45%;
}
.sidebar-collapse .spinner-text {
	left: 48%;
}
/*loading in pnr details*/
.loadings {
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	-o-animation: fadein 2s;
	animation: fadein 2s;
	
}

@-moz-keyframes fadein {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@-webkit-keyframes fadein {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@-o-keyframes fadein {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@keyframes fadein {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

.spinner-wrappers {
	min-width: 100% !important;
	min-height: 100% !important;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.93);
	display: none;
	z-index: 9000;
}

.spinner-texts {
	position: absolute;
	top: 46.5%;
	left: 52%;
	margin: 16px 0 0 35px;
	font-size: 10px;
	color: #BBB;
	letter-spacing: 1px;
	font-weight: 700
}

.spinners {
	margin: 0;
	display: block;
	position: absolute;
	left: 50%;
	top: 45%;
	border: 25px solid rgb(0, 124, 182);
	width: 1px;
	height: 1px;
	border-left-color: transparent;
	border-right-color: transparent;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	-webkit-animation: spin 1.5s infinite;
	-moz-animation: spin 1.5s infinite;
	animation: spin 1.5s infinite;
}

@-webkit-keyframes spin {
	0%, 100% {
		-webkit-transform: rotate(0deg) scale(1)
	}

	50% {
		-webkit-transform: rotate(720deg) scale(0.6)
	}
}

@-moz-keyframes spin {
	0%, 100% {
		-moz-transform: rotate(0deg) scale(1)
	}

	50% {
		-moz-transform: rotate(720deg) scale(0.6)
	}
}

@-o-keyframes spin {
	0%, 100% {
		-o-transform: rotate(0deg) scale(1)
	}

	50% {
		-o-transform: rotate(720deg) scale(0.6)
	}
}

@keyframes spin {
	0%, 100% {
		transform: rotate(0deg) scale(1)
	}

	50% {
		transform: rotate(720deg) scale(0.6)
	}
}
.sidebar-collapse .spinners {
	left: 45%;
}
.sidebar-collapse .spinner-texts {
	left: 48%;
}
/*custop tooltip*/
.tooltips {
	position: relative;
	display: inline;
}

.tooltips span {
	font-size: 10px;
	font-weight: normal;
	position: absolute;
	color: #FFFFFF;
	background: #000000;
	padding: 5px 10px;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	transition: transform .3s, opacity .6s, margin-left .2s, margin-top .2s;
}

.tooltips>span img {
	max-width: 140px;
}

.tooltips[tooltip-position="top"] span {
	margin-left: 10px;
	-ms-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
}

.tooltips[tooltip-position="bottom"] span {
	-ms-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	transform: rotate(-30deg);
}

.tooltips[tooltip-position="left"] span {
	margin-top: 30px;
	-ms-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	transform: rotate(-30deg);
}

.tooltips[tooltip-position="right"] span {
	margin-top: 30px;
	-ms-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
}

.tooltips span:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
}

.tooltips[tooltip-position="top"] span:after {
	top: 100%;
	left: 29%;
	/*margin-left: -8px;*/
	border-top: 8px solid black;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}

.tooltips[tooltip-position="bottom"] span:after {
	bottom: 100%;
	left: 50%;
	margin-left: -8px;
	border-bottom: 8px solid black;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}

.tooltips[tooltip-position="left"] span:after {
	top: 50%;
	left: 100%;
	margin-top: -8px;
	border-left: 8px solid black;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}

.tooltips[tooltip-position="right"] span:after {
	top: 50%;
	right: 100%;
	margin-top: -8px;
	border-right: 8px solid black;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}

.tooltips:hover span {
	visibility: visible;
	opacity: 1;
	z-index: 999;
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	filter: alpha(opacity=100);
}

.tooltips[tooltip-position="top"]:hover span {
	bottom: 30px;
	left: 50%;
	margin-left: -76px;
}

.tooltips[tooltip-position="bottom"]:hover span {
	top: 30px;
	left: 50%;
	margin-left: -76px;
}

.tooltips[tooltip-position="left"]:hover span {
	right: 100%;
	top: 50%;
	margin-top: -15px;
	margin-right: 15px;
}

.tooltips[tooltip-position="right"]:hover span {
	left: 100%;
	top: 50%;
	margin-top: -15px;
	margin-left: 15px;
}

.tooltips[tooltip-type="primary"]>span {
	background-color: #2980b9;
}

.tooltips[tooltip-type="primary"][tooltip-position="top"]>span:after {
	border-top: 8px solid #2980b9;
}

.tooltips[tooltip-type="primary"][tooltip-position="bottom"]>span:after {
	border-bottom: 8px solid #2980b9;
}

.tooltips[tooltip-type="primary"][tooltip-position="left"]>span:after {
	border-left: 8px solid #2980b9;
}

.tooltips[tooltip-type="primary"][tooltip-position="right"]>span:after {
	border-right: 8px solid #2980b9;
}

.tooltips[tooltip-type="success"]>span {
	background-color: #27ae60;
}

.tooltips[tooltip-type="success"][tooltip-position="top"]>span:after {
	border-top: 8px solid #27ae60;
}

.tooltips[tooltip-type="success"][tooltip-position="bottom"]>span:after {
	border-bottom: 8px solid #27ae60;
}

.tooltips[tooltip-type="success"][tooltip-position="left"]>span:after {
	border-left: 8px solid #27ae60;
}

.tooltips[tooltip-type="success"][tooltip-position="right"]>span:after {
	border-right: 8px solid #27ae60;
}

.tooltips[tooltip-type="warning"]>span {
	background-color: #FF8C00 !important;;
}

.tooltips[tooltip-type="warning"][tooltip-position="top"]>span:after {
	border-top: 8px solid #f39c12;
}

.tooltips[tooltip-type="warning"][tooltip-position="bottom"]>span:after {
	border-bottom: 8px solid #f39c12;
}

.tooltips[tooltip-type="warning"][tooltip-position="left"]>span:after {
	border-left: 8px solid #f39c12;
}

.tooltips[tooltip-type="warning"][tooltip-position="right"]>span:after {
	border-right: 8px solid #f39c12;
}

.tooltips[tooltip-type="danger"]>span {
	background-color: #c0392b;
}

.tooltips[tooltip-type="danger"][tooltip-position="top"]>span:after {
	border-top: 8px solid #c0392b;
}

.tooltips[tooltip-type="danger"][tooltip-position="bottom"]>span:after {
	border-bottom: 8px solid #c0392b;
}

.tooltips[tooltip-type="danger"][tooltip-position="left"]>span:after {
	border-left: 8px solid #c0392b;
}

.tooltips[tooltip-type="danger"][tooltip-position="right"]>span:after {
	border-right: 8px solid #c0392b;
}
.warning{
	color: #FF8C00 !important;
}
/*filter*/
.tablesorter-filter-row {
	display: none;
}/*pagination*/
.pager .prev, .pager .next, .pagecount { cursor: pointer; }
.pager a {
    color: black;
}
.pager a.current {
    text-decoration: none;
    color: #0080ff;
}

.prev:hover {
	color: #0080ff;
  }  
.next:hover {
	color: #0080ff;
  }    
.pagecount{
	margin: 10px;
}  
i.reload {
	position: fixed;
	right: 10px;
	bottom: 50px;
	border-radius: 60px;
	box-shadow: 0 0 2px #888;
	padding: 0.5em 0.6em;
  }

i.update-odoo {
	position: fixed;
	right: 10px;
	bottom: 125px;
	border-radius: 60px;
	box-shadow: 0 0 2px #888;
	padding: 0.5em 0.6em;
	color: #c0392b;
}


.p-checkbox {
	margin-top: -3.5px;
  }

.select2-results__options {
	word-break: break-word !important;
}

#only-current-ticket{
    border: 0px;
    width: 5%;
    height: 1em;
    margin-top: 4px;
}

#all-ticket{
    border: 0px;
    width: 5%;
    height: 1em;
    margin-top: 4px;
}

.tr-invoiced, .tr-invoiced:hover {
	color: #28a745 !important;
}

.delete-other-fee-row {
	cursor: pointer;
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.table.table-head-fixed thead tr:nth-child(1) th {
	background-color: #17a2b8 !important;
	border-bottom: 0 !important;
	box-shadow: none !important;
	position: -webkit-sticky !important;
	position: sticky !important;
	top: 0 !important;
	z-index: 10 !important;
}

#toast-container .toast-warning {
	background-color: #f1c40f !important;
	color: #fff !important;
}

/* FIX HOVER TABLE TD */
/* .tablesorter-default tbody > tr:hover > td, .tablesorter-default tbody > tr.even:hover > td, .tablesorter-default tbody > tr.odd:hover > td {
	color: #2334cf !important;
	background-color: #27ae60;
} */

/* .tablesorter-default tbody > tr:hover {
	color: #cd3838 !important;
	background-color: #27ae60;
} */

/* .bg-success-hover:hover {
	color: #27ae60 !important;
}

.bg-secondary-hover:hover {
	color: #2334cf !important;
} */

#pagination {
	transform: scale(0.95) !important;
}

.paginationjs-nav {
	color: #007bff !important;
}

.paginationjs-page a {
	background: #ffffff !important;
	color: #007bff !important;
}

.paginationjs-page.active a {
	background: #007bff !important;
	color: #fff !important;
}

#buttonMenuFilter {
	padding: 4px 8px !important;
	outline: 1px solid #ccc;
	background-color: #fff;
	color: #6e7584;
	border-radius: 5px;
	border: none;
	width: auto;
	justify-content: center;
}

#buttonMenuFilter>i,
#buttonMenuFilter>span {
	font-size: 12px;
}

#buttonMenuFilter:hover {
	background-color: #e8eaf393;
}

#buttonMenuFilter.active {
	outline: 1px solid #4a4c5642;
	background-color: #e8eaf3b3;
}

.wrapper-menu-filter {
	z-index: 1000;
	position: absolute;
	top: 38px;
	left: 0;
}

ul.filter-menu,
ul.pnr-menu {
	padding: 0;
	margin: 0;
}

.wrapper-menu-filter .content,
.pnr-menu .content,
.pnr-status .content {
	width: 200px;
	background-color: #ffffff;
	color: #6e7584;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
	padding: 4px 6px;
	margin: 0;
}

.list-one,
.list-two,
.list-three, 
.list-four,
.list-five,
.list-six {
	border-radius: 5px;
    padding: 6px 10px 6px 10px;
    cursor: pointer;
}

.list-two:hover,
.list-one:hover,
.list-three:hover,
.list-four:hover,
.list-six:hover {
	background-color: #e8eaf393;
}

.list-one.active,
.list-two.active,
.list-three.active,
.list-four.active
.list-six.active {
	outline: 1px solid #4a4c5642;
	background-color: #e8eaf3b3;
}

.list-five {
	background-color:#a3a0a9;
	color: #fff;
}

.list-five:hover {
	background-color:#a3a0a964;
}

.filter-menu li:nth-child(1) .filter-menu.list,
.filter-menu li:nth-child(4) .filter-menu.list,
.filter-menu li:nth-child(5) .filter-menu.list {
	display: flex;
	align-items: center;
	gap: 8px;
}

.filter-menu li:nth-child(2) .filter-menu.list,
.filter-menu li:nth-child(3) .filter-menu.list {
	display: flex;
	align-items: center;
	gap: 9px;
}

.content li {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content li span,
.content li i {
	font-size: 12px;
}

.date-range-menu, 
.creator-group-menu,
.agency-list-menu {
	position: absolute;
	min-width: 250px;
	width: auto;
	height: auto;
	color: #6e7584;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	z-index: 1000;
	padding: 12px 16px;
}

.date-range-menu {
	top: 67px;
	left: 201px;
}

.creator-group-menu {
	top: 101px;
	left: 201px;
}

.agency-list-menu {
	top: 175px;
	left: 201px;
}

#agencyListSelection {
	height: auto;
	border: 1px solid #d0d0d0;
	padding: 4px 4px;
	display: inline-block;
	width: 100%;
	position: relative;
	z-index: 1;
	box-sizing: border-box;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	border-radius: 3px;
	font-size: 12px;
	color: #6b6666;
}

.pnr-menu,
.pnr-status {
	position: absolute;
	left: 201px;
	min-width: 196px;
	width: auto;
	height: auto;
	color: #6e7584;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	z-index: 1000;
}

.pnr-menu {
	top: 38px;
}

.pnr-status {
	top: 138px;
}

#reportrangebegin, #reportrangeend {
	cursor: pointer;
	padding: 5px 0px 5px 10px;
	width: 100%;
	border-radius: 5px;
	outline: 1px solid #4a4c5642;
	background-color: #e8eaf3b3;
}

#buttonMenuFilterByCreationDateRange,
#buttonMenuFilterByCreator, 
#buttonMenuAgencyFilter {
    border: none;
	border-radius: 5px;
    padding: 3px 8px !important;
    background: #3a85ffc3;
    color: #fff;
    bottom: 10px;
	transition: 0.2s all;
}

#buttonMenuFilterByCreationDateRange:hover, 
#buttonMenuFilterByCreator:hover,
#buttonMenuAgencyFilter:hover {
	background-color: #3a86ff;
}

.opacity-0 {
	opacity: 0;
}

.selectize-input {
	padding: 6px 8px !important;
	border-radius: 5px !important;
	background: #e8eaf3b3 !important;
}

.selectize-input .item {
	color: #6e7584 !important;
	font-size: 12px !important;
}

#normalize-selectized {
	font-size: 12px !important;
}

.selectize-dropdown-content .option,
.selectize-dropdown-content .option .highlight {
	font-size: 12px !important;
}

.close-button-filter:hover {
	background-color: hsla(354, 70%, 54%, 0.65) !important
}

#normalize {
	height: auto;
    border: 1px solid #d0d0d0;
    padding: 4px 4px;
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 3px;
	font-size: 12px;
	color: #6b6666;
}

.pnr-creator-list,
.pnr-creator-list-after-search {
	cursor: pointer !important;
}

#normalize > option {
	font-size: 12px;
}

button#buttonStatusFilter,
button#buttonDateRangeFilter,
button#buttonCreatorNameFilter,
button#buttonPnrFilter {
	border: none;
}

button[cy-data="span-creator-name"]:hover,
button[cy-data="span-date-range"]:hover {
	background-color: #dc3848a6 !important
}

.select2-results__option.select2-results__message {
	background: #17a2b8 !important;
	color: #fff;
}

/* Ce style définit la disposition en ligne des éléments de la liste active */
#listActiveFilter {
	display: -webkit-inline-box !important;
	display: -moz-inline-box !important;
	overflow-x: auto !important;
	scroll-snap-type: x;
	cursor: grab;
	scroll-behavior: smooth;
	scrollbar-width: thin;
	user-select: none;
	margin-left: 12px;
}

/* Ce style définit l'apparence de la scrollbar */
#listActiveFilter::-webkit-scrollbar {
	height: 10px; /* Définir la hauteur de la scrollbar */
}

/* Ce style définit l'apparence du curseur de la scrollbar */
#listActiveFilter::-webkit-scrollbar-thumb {
	background-color: #888; /* Définir la couleur du curseur de la scrollbar */
	border-radius: 5px; /* Définir le rayon de la bordure du curseur de la scrollbar */
}

/* Ce style définit l'apparence de la piste de la scrollbar */
#listActiveFilter::-webkit-scrollbar-track {
	background-color: #c7c7c7; /* Définir la couleur de la piste de la scrollbar */
}