/* Adapter la tableau à la taille verticale de l'écran */
@media screen and (min-width: 1024px) {
    .table-adapted-to-screen-height {
        height: calc(100vh - 19rem) !important;
        overflow-x: auto !important;
    }
}

@media screen and (min-width: 1280px) {
    .table-adapted-to-screen-height {
        height: calc(100vh - 16rem) !important;
        overflow-x: auto !important;
    }
}

