{% extends 'layout-all-pnr.html' %}
{% load pnr_comments %}
{% block content %}
<div class="content-wrapper">
    <section class="content" style="">
      <div class="container-fluid">
        <div class="row ">
          <div class="col-12">
            <div class="card card-primary card-outline" style="">
              <div>
                <div class="row " style="margin-top:20px;justify-content:between;" >
                  <div class="col-md-2 float-left" style="margin-left:10px;" >
                    <h4 class="text-primary title-all-pnr mt-1 mb-0">PNR non remonté</h4>
                  </div>
                  <div class="col-md-8 float-right">
                    <div class="row d-flex ">
                      <div class="col-md-3 d-flex">
                        <div class="col-md-8 mr-4 px-0 d-flex align-items-center justify-content-center">
                          <div class="input-group input-group float-sm-right mt-1 mb-1" style="position: relative;">
                            <input type="text" name="table_search" id="input-unremounted-pnr" class="form-control form-control-sm"
                              placeholder="Recherche">
                            <div 
                              id="spinnerLoadingSearch" 
                              class="spinner-border" 
                              role="status" 
                              style="width: 14px; height: 14px; position: absolute; right: 48px; bottom: 6px; z-index: 9999"
                              title="Recherche en cours"
                            >
                              <span class="sr-only">Loading...</span>
                            </div>
                            <div class="input-group-append">
                              <button type="submit" id="unremounted-pnr-research" class="btn btn-default py-0" title="Bouton de recherche">
                                <i class="fas fa-search text-primary"></i>
                              </button>
                            </div>
                          </div>
                        </div> 
  
                      </div>
  
                      {% comment %} <button type="submit" class="d-flex align-items-center mt-1 mb-1 px-2 py-0" id="buttonUpnrMenuFilter" cy-data="button-menu-filter" >
                        <i class="fa fa-filter mr-2 open-button-filter"></i>
                        <span>Filtres</span>
                      </button>
                      <div class="wrapper-upnr-menu-filter">
                        <div class="content">
                          <ul class="upnr-filter-menu">
                            
                            <!-- Add pnr filter -->
                            <li class="list upnr-list-one mb-1">
                              <div class="upnr-filter-menu list">
                                <i class="fa fa-eye"></i>
                                <span>Type</span>
                              </div>
                              <i class="fa-solid fa-angle-right"></i>
                            </li>
  
                            <!-- Add date range filter -->
                            <li class="list upnr-list-two mb-1">
                              <div class="upnr-filter-menu list" id="showDateRangePicker">
                                <i class="fa-sharp fa-solid fa-calendar-days" style="padding-left: 1px !important;"></i>
                                <span>Date de signalement</span>
                              </div>
                              <i class="fa-solid fa-angle-right"></i>
                            </li>
                            
                            <!-- Add status filter -->
                            <li class="list upnr-list-four mb-1">
                              <div class="upnr-filter-menu list" id="showFilterByPnrStatus">
                                <i class="fas fa-sliders-h" style="padding-left: 1px !important;"></i>
                                <span>Statut</span>
                              </div>
                              <i class="fa-solid fa-angle-right"></i>
                            </li>
                            
                            <li class="list upnr-list-five bg-danger justify-content-center " id="CloseCanceledTicketFilter">
                              <div class="close-button-upnr-filter">
                                <i class="fas fa-close" style="padding-left: 1px !important; font-size: 14px !important"></i>
                                <span>Aucun</span>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
  
                      <div class="upnr-menu ">
                          <div class="date-range content">
                            <div>
                              <span class="text-sm font-weight-bold">Type</span>
                              <select id="FilterCreatorSelect" class="form-control form-control-sm">
                                  <option value="">Sélectionner le type...</option>
                                  <option value="0">Altea</option>
                                  <option value="1">Zénith </option>

                                </select>
    
                            </div>
                          </div>
                          <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary d-flex align-items-center" id="buttonFilterByMotif">
                              <span class="text-sm">Afficher</span>
                            </button>
                          </div>
                      </div>
  
                      <div class="upnr-status ">
                        <div class="content">
                          <ul class="upnr-filter-menu">
                            <li class="pnr-list list-one mb-1">
                              <div class="upnr-filter-menu list" id="showIssuedPnr">
                                <i class="fa fa-check"></i>
                                <span>En attente de validation</span>
                              </div>
                            </li>
                            <li class="pnr-list list-two">
                              <div class="upnr-filter-menu list active" id="showNotIssuedPnr">
                                <i class="fa fa-check"></i>
                                <span>Non Traitée</span>
                              </div>
                            </li>
                            <li class="pnr-list list-three">
                              <div class="upnr-filter-menu list active" id="showAllPnrWithoutIssuing">
                                <i class="fa fa-check"></i>
                                <span>Refusée</span>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
  
                      <div class="upnr-date-range-menu" >
                        <div class="date-range content">
                          <div>
                            <span class="text-sm font-weight-bold">Date de signalement</span>
                            <div class="form-group">
                              <input type="date" class="form-control" id="DatInputUnremounted" >
                            </div>
  
                          </div>
                        </div>
                        <div class="d-flex justify-content-end">
                          <button type="submit" class="btn btn-primary d-flex align-items-center" id="buttonFilterByDateUnremounted">
                            <span class="text-sm">Afficher</span>
                          </button>
                        </div>
                      </div>
  
                      <div class="col-md-4 mt-1 mb-1" style="margin-left:50px;">
                        <button class="btn btn-outline-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" id="UnremountedAdvancedSearch" aria-controls="collapseExample">
                          Recherche avancée
                        </button>
                      </div> {% endcomment %}
                      {% unremounted_pnr_state as unremounted_pnr_state %}
                      <div class=" col-md-5 justify-content-end" >
                  
                        <div class="row d-flex" style="gap: 2rem;">
                          
                            <span class="px-2 py-1 bg-green" style="border-radius:2px;">Traitée : {{unremounted_pnr_state.true}} </span>
                            <span class="px-2 py-1 bg-red"  style="border-radius:2px;">En attente de validation : {{unremounted_pnr_state.false}} </span>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <hr>
              
              
              <div class="card-body">
                
                <div class="collapse flex-row-reverse" id="collapseExample">
                  <div class="row" style="margin: 20px 0 0 90px;">
                    <div class="col-md-2">
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text">Date d'annulation</label>
                        </div>
                        <input type="date" class="form-control" id="cancellationDateInput" aria-describedby="basic-addon3">
                      </div>
                    </div>
                    
                    <div class="col-md-2">
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01">Type</label>
                        </div>
                        <select class="custom-select" id="CreatorSelector">
                          <option>Altéa</option>
                          {% for user in issuing_users %}
                            <option value={{user.id}}>{{user.username}}</option>
                          {% endfor %}
                          
                        </select>
                      </div>
                    </div>
                    
                    <div class="col-md-2">
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01">Créateur</label>
                        </div>
                        <select class="custom-select" id="CreatorSelector">
                          <option>maphie</option>
                          {% for user in issuing_users %}
                            <option value={{user.id}}>{{user.username}}</option>
                          {% endfor %}
                          
                        </select>
                      </div>
                    </div>

                    <div class="col-md-2">
                      <button class="btn btn-success" type="button" id="CanceledTicketAdvancedSearch">
                        Rechercher
                      </button>
                    </div>
                  </div>
                  
              </div>
                  <div>
                    <h3 id="SearchTitle"></h3>
                  </div>
                      <div class="table-adapted-to-screen-height card-body table-responsive p-0">
                        <table class="table table-bordered table-head-fixed text-nowrap " id="all-unremounted-pnr">
                          <thead class="bg-info">
                            <tr>
                              <th width="5%" class="text-white">PNR</th>
                              <th width="5%" class="text-white">Type</th>
                              <th width="5%" class="text-white">Date de signalement</th>
                              <th width="5%" class="text-white">Statut</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for unremounted_pnr in page_obj %}
                              <tr class="constat-class" onclick="location.href='{% url 'unremounted_pnr_details' unremounted_pnr.id %}'" style="cursor: pointer;">

                                    <td>{{unremounted_pnr.number }}</td>
                                    <td>{{unremounted_pnr.type}}</td>
                                    <td>{{unremounted_pnr.creation_date| correct_datetime}}</td>
                                    
                                    {% if unremounted_pnr.state == 0 %}
                                        <td><button class="btn btn-danger py-0" name="anomaly_state">En attente de validation</button></td>
                                    {% endif %}
                                    {% if unremounted_pnr.state == 2 %}
                                        <td><button class="btn btn-primary py-0" name="anomaly_state">Refusée</button></td>
                                    {% endif %}
                                    {% if unremounted_pnr.state == 1 %}
                                        <td><button class="btn btn-success py-0" name="anomaly_state" >Traitée</button></td>
                                    {% endif %}
                                    
                                </tr>
                            {% endfor %}
                                
                          </tbody>
                          <table class="table table-bordered table-head-fixed table-hover text-nowrap" id="all-unordered-pnr-after-search">
                        </table>
                        <table class="table table-bordered table-head-fixed text-nowrap " id="all-unremounted-pnr-after-search">
                      </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </section>

    
  </div>
{% endblock content %}